# Ensemble des tests

In [1]:
import sklearn
import pandas 
import xgboost
import numpy

print('Pandas version :',pandas.__version__)
print('Sklearn version :',sklearn.__version__)
print('Xgboost version :',xgboost.__version__)
print('Numpy version :',numpy.__version__)

Pandas version : 0.23.4
Sklearn version : 0.19.2
Xgboost version : 0.81
Numpy version : 1.15.1

In [2]:
%run -i Bestestimator_neg_fixed.py

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Multiclass

In [3]:
Multi_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train.csv", sep = ',')
Multi_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target.csv", sep = ';')

#### Coup d'oeil sur les données

In [4]:
Multi_Train.head(5)

,ID,SHIPPING_MODE,SHIPPING_PRICE,WARRANTIES_FLG,WARRANTIES_PRICE,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,...,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,BUYING_DATE,SELLER_SCORE_COUNT,SELLER_SCORE_AVERAGE,SELLER_COUNTRY,SELLER_DEPARTMENT,PRODUCT_TYPE,PRODUCT_FAMILY,ITEM_PRICE
0,0,NORMAL,NaN,False,NaN,1,0,1,0,UNSUBSCRIBED,...,1992.0,34,3/2017,10000<100000,46.0,"FRANCE, METROPOLITAN",61,CELLPHONE_ACCESSORY,ELECTRONICS,<10
1,1,NORMAL,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1952.0,77,8/2017,10000<100000,45.0,"FRANCE, METROPOLITAN",30,CELLPHONE_ACCESSORY,ELECTRONICS,<10
2,2,NORMAL,NaN,False,NaN,0,0,0,1,PLATINUM,...,1991.0,58,5/2017,10000<100000,43.0,CHINA,-1,TOYS,BABY,<10
3,3,RECOMMANDE,NaN,True,5<20,1,0,0,0,UNSUBSCRIBED,...,1955.0,31,5/2017,10000<100000,44.0,"FRANCE, METROPOLITAN",2,GARDEN_TOOLS,WHITE,50<100
4,4,RECOMMANDE,NaN,False,NaN,1,0,1,0,PLATINUM,...,1984.0,93,9/2017,1000<10000,44.0,CHINA,-1,MODEL,BABY,1000<5000

In [5]:
Multi_Target.head(5)

   ID    CLAIM_TYPE
0   0       DAMAGED
1   1             -
2   2  NOT_RECEIVED
3   3             -
4   4    WITHDRAWAL

### fit method

#### Lance le pipeline de choix d'estimateur et d'hyperparamètres optimaux

In [6]:
Multi = BestEstimator(hard_grid=True)
Multi.fit(Multi_Train, Multi_Target, scoring = 'accuracy')

Missing Values :

                      Total       %
WARRANTIES_PRICE      96603  96.603
SHIPPING_PRICE        67610  67.610
BUYER_BIRTHDAY_DATE    5836   5.836
SHIPPING_MODE           315   0.315
PRICECLUB_STATUS         57   0.057
SELLER_SCORE_AVERAGE      6   0.006
SELLER_SCORE_COUNT        6   0.006

NaN data filled by 0

Searching for the best regressor on 1000 data using accuracy loss...


 Bagging: 0.4769 (+/- 0.0404)

 Gradient Boosting: 0.4660 (+/- 0.0097)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.4900 (+/- 0.0156)

 Random Forest: 0.5050 (+/- 0.0151)

 Decision Tree: 0.3509 (+/- 0.0236)

 Extra Tree: 0.4570 (+/- 0.0169)

 KNN: 0.4470 (+/- 0.0126)

 SVM: 0.4870 (+/- 0.0027)

 Searching for the best hyperparametres of Random Forest using hard_grid on 1000 data among :

{'n_estimators': [10, 100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 20, 25], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   32.0s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:  2.2min finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'entropy', 'max_depth': 25, 'n_estimators': 600}

 With this accuracy score : 0.517

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### All pred methods

In [7]:
Multi.pred(Multi_Train[0:10], ID='ID', refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID      Target
0   0           -
1   1           -
2   2           -
3   3           -
4   4  WITHDRAWAL
5   5           -
6   6           -
7   7  WITHDRAWAL
8   8           -
9   9           -

In [8]:
Multi.pred_grid(Multi_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID      Target
0   0           -
1   1           -
2   2           -
3   3           -
4   4  WITHDRAWAL
5   5           -
6   6           -
7   7  WITHDRAWAL
8   8           -
9   9           -

#### Prédiction des probabilités de chaque classe

##### A partir du premier fit

In [9]:
Multi.pred_grid_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.470000,0.090000,0.060000,0.005000,0.035000,0.120000,0.075000,0.145000
1,1,0.430000,0.066667,0.025000,0.013333,0.078333,0.193333,0.051667,0.141667
2,2,0.288333,0.068333,0.041667,0.015000,0.206667,0.220000,0.030000,0.130000
3,3,0.328333,0.063333,0.033333,0.010000,0.128333,0.276667,0.068333,0.091667
4,4,0.218333,0.081667,0.020000,0.050000,0.208333,0.076667,0.040000,0.305000
5,5,0.460000,0.128333,0.023333,0.018333,0.070000,0.166667,0.063333,0.070000
6,6,0.570000,0.058333,0.011667,0.011667,0.063333,0.125000,0.068333,0.091667
7,7,0.233333,0.031667,0.061667,0.018333,0.155000,0.198333,0.053333,0.248333
8,8,0.508333,0.068333,0.033333,0.010000,0.068333,0.195000,0.048333,0.068333
9,9,0.458333,0.066667,0.085000,0.005000,0.058333,0.143333,0.068333,0.115000

##### En relançant un fit à partir du meilleur estimateur trouvé et de ses meilleurs hyperparamètres

In [10]:
Multi.pred_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.476667,0.101667,0.055000,0.001667,0.048333,0.123333,0.073333,0.120000
1,1,0.391667,0.078333,0.015000,0.013333,0.096667,0.221667,0.043333,0.140000
2,2,0.298333,0.045000,0.045000,0.013333,0.198333,0.226667,0.041667,0.131667
3,3,0.328333,0.066667,0.036667,0.006667,0.120000,0.281667,0.075000,0.085000
4,4,0.241667,0.098333,0.036667,0.041667,0.195000,0.083333,0.025000,0.278333
5,5,0.521667,0.115000,0.033333,0.005000,0.053333,0.151667,0.075000,0.045000
6,6,0.541667,0.066667,0.031667,0.008333,0.081667,0.156667,0.053333,0.060000
7,7,0.261667,0.031667,0.051667,0.011667,0.151667,0.190000,0.028333,0.273333
8,8,0.490000,0.078333,0.045000,0.005000,0.070000,0.185000,0.060000,0.066667
9,9,0.435000,0.076667,0.083333,0.003333,0.053333,0.190000,0.046667,0.111667

### best_size method

#### Permet d'évaluer l'erreur en fittant sur différent taille de Train ce qui permet de voir à quel moment apparait l'overfitting

In [11]:
Multi.best_size(n=[2000, 5000, 15000, 25000], metric = 'accuracy_score')

Fitting on 2000 data...
2000 datas -> accuracy_score = 0.512869742605148

Fitting on 5000 data...
5000 datas -> accuracy_score = 0.5233995320093598

Fitting on 15000 data...
15000 datas -> accuracy_score = 0.5328493430131397

Fitting on 25000 data...
25000 datas -> accuracy_score = 0.5387592248155036


 In the end, the best data size is 25000

 With this accuracy_score : 0.5387592248155036

### Bagg_fit method

#### Permet d'utiliser un Bagging sur le meilleur estimateur trouvé dans le fit method

In [12]:
Multi.Bagg_fit(Multi_Train, Multi_Target, n_estimators = [10,20,30],
                 cv = 3, value = 0, ID = 'ID', metric = 'accuracy')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:  3.5min finished

 Best hyperparametres : {'n_estimators': 20}

 Giving this accuracy score : 0.518

## Binary class

In [13]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

Bin_Target = pd.DataFrame()
Bin_Target['ID'] = target['ID']
Bin_Target['Target'] = [np.nan]*target.shape[0]


for i in range(target.shape[0]):
    if target['Target'][i] == 1:
        Bin_Target['Target'][i] ='+'
    else :
        Bin_Target['Target'][i] ='-'

Bestestimator_neg_fixed.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [14]:
# Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
# Bin_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

In [15]:
Bin_Train.head(5)

,ID,month,country,1_diffClosing stocks(kmt),1_diffExports(kmt),1_diffImports(kmt),1_diffRefinery intake(kmt),1_diffWTI,1_diffSumClosing stocks(kmt),1_diffSumExports(kmt),...,12_diffClosing stocks(kmt),12_diffExports(kmt),12_diffImports(kmt),12_diffRefinery intake(kmt),12_diffWTI,12_diffSumClosing stocks(kmt),12_diffSumExports(kmt),12_diffSumImports(kmt),12_diffSumProduction(kmt),12_diffSumRefinery intake(kmt)
0,ID00001,5,52,0.0000,237.0000,0.0000,33.0000,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,0.0000,14.0000,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
1,ID00002,12,69,28.0000,-34.0000,60.0000,7.0000,-5.95,195.2005,7500.1033,...,-43.0000,-129.0000,-67.0000,-16.0000,-5.62,3217.0304,-6563.6422,-3587.5152,-13053.6586,-13005.0503
2,ID00003,5,74,0.0000,0.0000,-29.1227,-85.5816,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,-17.8667,-13.2214,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
3,ID00004,11,34,175.3701,91.5209,0.0000,339.4347,7.66,-2247.4834,-6806.1222,...,81.8304,-579.9462,0.0000,16.6891,-8.62,-2929.8903,1072.8473,504.0197,-4827.2299,3962.6288
4,ID00005,7,2,-550.0674,251.9568,0.0000,-49.5277,-12.07,-2652.6804,2165.7119,...,-1127.1255,-512.5506,0.0000,-2.0243,7.20,2513.6243,-1732.4430,-4827.1576,-7242.5506,-13079.2251

In [16]:
Bin_Target.head(10)

        ID Target
0  ID00001      +
1  ID00002      -
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      +
6  ID00007      -
7  ID00008      -
8  ID00009      -
9  ID00010      -

### Fit method

In [ ]:
Bin = BestEstimator(type_esti = 'Classifier', hard_grid=True)
Bin.fit(Bin_Train, Bin_Target, scoring = 'roc_auc')

Missing Values :

                            Total         %
1_diffClosing stocks(kmt)     261  2.569151
2_diffClosing stocks(kmt)     257  2.529777
3_diffClosing stocks(kmt)     253  2.490403
4_diffClosing stocks(kmt)     249  2.451029
5_diffClosing stocks(kmt)     245  2.411655
6_diffClosing stocks(kmt)     241  2.372281
7_diffClosing stocks(kmt)     238  2.342750
8_diffClosing stocks(kmt)     235  2.313220
9_diffClosing stocks(kmt)     232  2.283689
10_diffClosing stocks(kmt)    228  2.244315
11_diffClosing stocks(kmt)    224  2.204941
12_diffClosing stocks(kmt)    220  2.165567
1_diffImports(kmt)            151  1.486367
2_diffImports(kmt)            148  1.456836
3_diffImports(kmt)            145  1.427306
4_diffImports(kmt)            142  1.397775
5_diffImports(kmt)            139  1.368245
6_diffImports(kmt)            136  1.338714
7_diffImports(kmt)            133  1.309184
8_diffImports(kmt)            130  1.279654
9_diffImports(kmt)            127  1.250123
10_diffImports(kmt)           124  1.220593
11_diffImports(kmt)           121  1.191062
12_diffImports(kmt)           118  1.161532

NaN data filled by 0

Searching for the best regressor on 1000 data using roc_auc loss...


 Bagging: 0.6868 (+/- 0.0214)

 Gradient Boosting: 0.7233 (+/- 0.0353)

 XGBoost: 0.7121 (+/- 0.0225)

 Random Forest: 0.7195 (+/- 0.0347)

 Decision Tree: 0.6058 (+/- 0.0135)

 Extra Tree: 0.6728 (+/- 0.0146)

 KNN: 0.6367 (+/- 0.0594)

 SVM: 0.5040 (+/- 0.0054)

 Searching for the best hyperparametres of Gradient Boosting using hard_grid on 1000 data among :

{'n_estimators': [100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 25, None], 'learning_rate': [0.001, 0.01, 0.1], 'loss': ['deviance', 'exponential'], 'criterion': ['mse', 'friedman_mse']}

Fitting 3 folds for each of 300 candidates, totalling 900 fits

### All pred methods

In [ ]:
Bin.pred_grid(Bin_Train[0:10], ID='ID', value=0)

In [ ]:
Bin.pred(Bin_Train[0:10], ID='ID', value=0, refit = True)

In [ ]:
#Bin.pred_grid_proba(Bin.Transform(Bin_Train[0:10]), ID = 'ID')
Bin.pred_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

In [ ]:
Bin.pred_grid_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True)

In [ ]:
Bin.best_size(n=[2000, 5000, 15000, 25000], metric = 'roc_auc_score')

In [ ]:
Bin.Bagg_fit(Bin_Train, Bin_Target, n_estimators = [10,20,30],
                 cv = 3, value = 0, ID = 'ID', metric = 'roc_auc')

## Regression

In [ ]:
Reg_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\input_training.csv", sep = ';')
Reg_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target_Engie.csv", sep = ';')

In [ ]:
Reg_Train.head(5)

In [ ]:
Reg_Target.head(5)

### fit method

In [ ]:
#%run -i Bestestimator_neg_fixed.py

Reg = BestEstimator(type_esti = 'Regressor', hard_grid=True, grid = True)

Reg.fit(Reg_Train, Reg_Target, scoring = 'neg_mean_absolute_error',view_nan = True)

In [ ]:
#Reg.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'mean_absolute_error')
Reg.best_size(n=[2000, 5000, 15000, 25000], metric = 'mean_absolute_error')

### All pred methods

In [ ]:
Reg.pred(Reg_Train[0:10], ID='ID')

In [ ]:
Reg.pred_grid(Reg_Train[0:10], ID='ID')

### Bagg_fit method

In [ ]:
Reg.custom_grid(Reg_Train, Reg_Target, ID='ID', target_ID=True, n=1000, metric='mean_absolute_error', 
                params = {'eta': [0.001, .01],
                              'max_depth': [5, 10],
                              'gamma': [0, .1]}
, cv=3, DF=None, value=0)

In [ ]:
Reg.Bagg_fit(Reg_Train, Reg_Target, n_estimators = [10,20,30],
                 cv = 3, value = 0, ID = 'ID', metric = 'mean_absolute_error')