# Ensemble des tests

In [1]:
import sklearn
import pandas 
import xgboost
import numpy

print('Pandas version :',pandas.__version__)
print('Sklearn version :',sklearn.__version__)
print('Xgboost version :',xgboost.__version__)
print('Numpy version :',numpy.__version__)

Pandas version : 0.23.4
Sklearn version : 0.19.2
Xgboost version : 0.81
Numpy version : 1.15.1

In [2]:
%run -i bestestimator_v2.py

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Multiclass

In [3]:
Multi_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train.csv", sep = ',')
Multi_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target.csv", sep = ';')

#### Coup d'oeil sur les données

In [4]:
Multi_Train.head(5)

,ID,SHIPPING_MODE,SHIPPING_PRICE,WARRANTIES_FLG,WARRANTIES_PRICE,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,...,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,BUYING_DATE,SELLER_SCORE_COUNT,SELLER_SCORE_AVERAGE,SELLER_COUNTRY,SELLER_DEPARTMENT,PRODUCT_TYPE,PRODUCT_FAMILY,ITEM_PRICE
0,0,NORMAL,NaN,False,NaN,1,0,1,0,UNSUBSCRIBED,...,1992.0,34,3/2017,10000<100000,46.0,"FRANCE, METROPOLITAN",61,CELLPHONE_ACCESSORY,ELECTRONICS,<10
1,1,NORMAL,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1952.0,77,8/2017,10000<100000,45.0,"FRANCE, METROPOLITAN",30,CELLPHONE_ACCESSORY,ELECTRONICS,<10
2,2,NORMAL,NaN,False,NaN,0,0,0,1,PLATINUM,...,1991.0,58,5/2017,10000<100000,43.0,CHINA,-1,TOYS,BABY,<10
3,3,RECOMMANDE,NaN,True,5<20,1,0,0,0,UNSUBSCRIBED,...,1955.0,31,5/2017,10000<100000,44.0,"FRANCE, METROPOLITAN",2,GARDEN_TOOLS,WHITE,50<100
4,4,RECOMMANDE,NaN,False,NaN,1,0,1,0,PLATINUM,...,1984.0,93,9/2017,1000<10000,44.0,CHINA,-1,MODEL,BABY,1000<5000

In [5]:
Multi_Target.head(5)

   ID    CLAIM_TYPE
0   0       DAMAGED
1   1             -
2   2  NOT_RECEIVED
3   3             -
4   4    WITHDRAWAL

### fit method

#### Lance le pipeline de choix d'estimateur et d'hyperparamètres optimaux

In [6]:
Multi = BestEstimator(hard_grid=True)
Multi.fit(Multi_Train, Multi_Target, scoring = 'accuracy')

Missing Values :

                      Total       %
WARRANTIES_PRICE      96603  96.603
SHIPPING_PRICE        67610  67.610
BUYER_BIRTHDAY_DATE    5836   5.836
SHIPPING_MODE           315   0.315
PRICECLUB_STATUS         57   0.057
SELLER_SCORE_AVERAGE      6   0.006
SELLER_SCORE_COUNT        6   0.006

NaN data filled by 0

Searching for the best regressor on 1000 data using accuracy loss...


 Bagging: 0.4669 (+/- 0.0230)

 Gradient Boosting: 0.4690 (+/- 0.0098)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.4900 (+/- 0.0156)

 Random Forest: 0.5130 (+/- 0.0028)

 Decision Tree: 0.3621 (+/- 0.0225)

 Extra Tree: 0.4519 (+/- 0.0219)

 KNN: 0.4470 (+/- 0.0126)

 SVM: 0.4870 (+/- 0.0027)

 Searching for the best hyperparametres of Random Forest using hard_grid on 1000 data among :

{'n_estimators': [10, 100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 20, 25], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   30.3s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:  2.2min finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': 25, 'n_estimators': 1200}

 With this accuracy score : 0.516

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### All pred methods

In [7]:
Multi.pred(Multi_Train[0:10], ID='ID', value=0, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID                    Target
0   0                         -
1   1                         -
2   2  SELLER_CANCEL_POSTERIORI
3   3  SELLER_CANCEL_POSTERIORI
4   4                WITHDRAWAL
5   5                         -
6   6                         -
7   7                WITHDRAWAL
8   8                         -
9   9                         -

In [8]:
Multi.pred_grid(Multi_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID                    Target
0   0                         -
1   1                         -
2   2  SELLER_CANCEL_POSTERIORI
3   3  SELLER_CANCEL_POSTERIORI
4   4                WITHDRAWAL
5   5                         -
6   6                         -
7   7                WITHDRAWAL
8   8                         -
9   9                         -

In [9]:
Multi.pred(Multi_Train[20:30], ID='ID', refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

    ID                    Target
20  20  SELLER_CANCEL_POSTERIORI
21  21                         -
22  22                         -
23  23                         -
24  24                         -
25  25                         -
26  26                         -
27  27                         -
28  28                         -
29  29                         -

In [10]:
Multi.pred_grid(Multi_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID                    Target
0   0                         -
1   1                         -
2   2  SELLER_CANCEL_POSTERIORI
3   3  SELLER_CANCEL_POSTERIORI
4   4                WITHDRAWAL
5   5                         -
6   6                         -
7   7                         -
8   8                         -
9   9                         -

#### Prédiction des probabilités de chaque classe

##### A partir du premier fit

In [11]:
Multi.pred_grid_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.454167,0.085000,0.044167,0.003333,0.069167,0.164167,0.060000,0.120000
1,1,0.408333,0.049167,0.019167,0.010000,0.090000,0.221667,0.059167,0.142500
2,2,0.243333,0.065000,0.034167,0.020000,0.187500,0.285833,0.030000,0.134167
3,3,0.308333,0.060000,0.024167,0.010833,0.092500,0.350000,0.047500,0.106667
4,4,0.244167,0.081667,0.036667,0.042500,0.182500,0.101667,0.035000,0.275833
5,5,0.446667,0.110000,0.031667,0.009167,0.098333,0.163333,0.063333,0.077500
6,6,0.539167,0.054167,0.018333,0.008333,0.065000,0.174167,0.060833,0.080000
7,7,0.253333,0.036667,0.077500,0.020000,0.150833,0.193333,0.040000,0.228333
8,8,0.455833,0.081667,0.043333,0.002500,0.100000,0.200833,0.030833,0.085000
9,9,0.380833,0.081667,0.087500,0.006667,0.065833,0.227500,0.039167,0.110833

##### En relançant un fit à partir du meilleur estimateur trouvé et de ses meilleurs hyperparamètres

In [12]:
Multi.pred_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.443333,0.094167,0.064167,0.000833,0.080833,0.157500,0.061667,0.097500
1,1,0.408333,0.062500,0.022500,0.004167,0.100833,0.225000,0.044167,0.132500
2,2,0.229167,0.070833,0.041667,0.018333,0.210000,0.263333,0.031667,0.135000
3,3,0.290833,0.056667,0.035833,0.010000,0.104167,0.351667,0.058333,0.092500
4,4,0.201667,0.089167,0.033333,0.050833,0.209167,0.095833,0.025000,0.295000
5,5,0.459167,0.108333,0.029167,0.012500,0.087500,0.179167,0.062500,0.061667
6,6,0.513333,0.058333,0.015833,0.008333,0.085833,0.183333,0.066667,0.068333
7,7,0.246667,0.030000,0.055000,0.011667,0.149167,0.192500,0.040833,0.274167
8,8,0.454167,0.086667,0.034167,0.004167,0.092500,0.199167,0.050833,0.078333
9,9,0.409167,0.077500,0.080000,0.002500,0.066667,0.225000,0.041667,0.097500

### best_size method

#### Permet d'évaluer l'erreur en fittant sur différent taille de Train ce qui permet de voir à quel moment apparait l'overfitting

In [13]:
Multi.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'accuracy_score')

Fitting on 100 data...
100 datas -> accuracy_score = 0.4869502609947801

Fitting on 200 data...
200 datas -> accuracy_score = 0.497870042599148

Fitting on 300 data...
300 datas -> accuracy_score = 0.49586008279834404

Fitting on 1000 data...
1000 datas -> accuracy_score = 0.499970000599988

Fitting on 2000 data...
2000 datas -> accuracy_score = 0.5152096958060839

Fitting on 5000 data...
5000 datas -> accuracy_score = 0.5245695086098278


 In the end, the best data size is 5000

 With this accuracy_score : 0.5245695086098278

### Bagg_fit method

#### Permet d'utiliser un Bagging sur le meilleur estimateur trouvé dans le fit method

In [14]:
Multi.Bagg_fit(Multi_Train, Multi_Target, n_estimators = [10,20,30], type_esti = 'Classifier', n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'accuracy')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:  4.7min finished

 Best hyperparametres : {'n_estimators': 10}

 Giving this accuracy score : 0.518

## Binary class

In [15]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

Bin_Target = pd.DataFrame()
Bin_Target['ID'] = target['ID']
Bin_Target['Target'] = [np.nan]*target.shape[0]


for i in range(target.shape[0]):
    if target['Target'][i] == 1:
        Bin_Target['Target'][i] ='+'
    else :
        Bin_Target['Target'][i] ='-'

bestestimator_v2.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
# Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
# Bin_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

In [17]:
Bin_Train.head(5)

,ID,month,country,1_diffClosing stocks(kmt),1_diffExports(kmt),1_diffImports(kmt),1_diffRefinery intake(kmt),1_diffWTI,1_diffSumClosing stocks(kmt),1_diffSumExports(kmt),...,12_diffClosing stocks(kmt),12_diffExports(kmt),12_diffImports(kmt),12_diffRefinery intake(kmt),12_diffWTI,12_diffSumClosing stocks(kmt),12_diffSumExports(kmt),12_diffSumImports(kmt),12_diffSumProduction(kmt),12_diffSumRefinery intake(kmt)
0,ID00001,5,52,0.0000,237.0000,0.0000,33.0000,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,0.0000,14.0000,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
1,ID00002,12,69,28.0000,-34.0000,60.0000,7.0000,-5.95,195.2005,7500.1033,...,-43.0000,-129.0000,-67.0000,-16.0000,-5.62,3217.0304,-6563.6422,-3587.5152,-13053.6586,-13005.0503
2,ID00003,5,74,0.0000,0.0000,-29.1227,-85.5816,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,-17.8667,-13.2214,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
3,ID00004,11,34,175.3701,91.5209,0.0000,339.4347,7.66,-2247.4834,-6806.1222,...,81.8304,-579.9462,0.0000,16.6891,-8.62,-2929.8903,1072.8473,504.0197,-4827.2299,3962.6288
4,ID00005,7,2,-550.0674,251.9568,0.0000,-49.5277,-12.07,-2652.6804,2165.7119,...,-1127.1255,-512.5506,0.0000,-2.0243,7.20,2513.6243,-1732.4430,-4827.1576,-7242.5506,-13079.2251

In [18]:
Bin_Target.head(10)

        ID Target
0  ID00001      +
1  ID00002      -
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      +
6  ID00007      -
7  ID00008      -
8  ID00009      -
9  ID00010      -

### Fit method

In [19]:
Bin = BestEstimator(hard_grid=False)
Bin.fit(Bin_Train, Bin_Target, scoring = 'roc_auc', n_grid = 100)

Missing Values :

                            Total         %
1_diffClosing stocks(kmt)     261  2.569151
2_diffClosing stocks(kmt)     257  2.529777
3_diffClosing stocks(kmt)     253  2.490403
4_diffClosing stocks(kmt)     249  2.451029
5_diffClosing stocks(kmt)     245  2.411655
6_diffClosing stocks(kmt)     241  2.372281
7_diffClosing stocks(kmt)     238  2.342750
8_diffClosing stocks(kmt)     235  2.313220
9_diffClosing stocks(kmt)     232  2.283689
10_diffClosing stocks(kmt)    228  2.244315
11_diffClosing stocks(kmt)    224  2.204941
12_diffClosing stocks(kmt)    220  2.165567
1_diffImports(kmt)            151  1.486367
2_diffImports(kmt)            148  1.456836
3_diffImports(kmt)            145  1.427306
4_diffImports(kmt)            142  1.397775
5_diffImports(kmt)            139  1.368245
6_diffImports(kmt)            136  1.338714
7_diffImports(kmt)            133  1.309184
8_diffImports(kmt)            130  1.279654
9_diffImports(kmt)            127  1.250123
10_diffImports(kmt)           124  1.220593
11_diffImports(kmt)           121  1.191062
12_diffImports(kmt)           118  1.161532

NaN data filled by 0

Searching for the best regressor on 1000 data using roc_auc loss...


 Bagging: 0.6877 (+/- 0.0202)

 Gradient Boosting: 0.7201 (+/- 0.0313)

 XGBoost: 0.7121 (+/- 0.0225)

 Random Forest: 0.7254 (+/- 0.0335)

 Decision Tree: 0.6243 (+/- 0.0456)

 Extra Tree: 0.6844 (+/- 0.0512)

 KNN: 0.6367 (+/- 0.0594)

 SVM: 0.5040 (+/- 0.0054)

 Searching for the best hyperparametres of Random Forest on 100 data among :

{'n_estimators': [10, 100, 300], 'max_depth': [5, 10, None], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   14.7s finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'entropy', 'max_depth': None, 'n_estimators': 10}

 With this roc_auc score : 0.8333225108225107

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### All pred methods

In [20]:
Bin.pred_grid(Bin_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID Target
0  ID00001      +
1  ID00002      +
2  ID00003      -
3  ID00004      +
4  ID00005      +
5  ID00006      -
6  ID00007      -
7  ID00008      -
8  ID00009      +
9  ID00010      -

In [21]:
Bin.pred(Bin_Train[0:10], ID='ID', value=0, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID Target
0  ID00001      +
1  ID00002      -
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      +
6  ID00007      -
7  ID00008      -
8  ID00009      -
9  ID00010      -

In [22]:
#Bin.pred_grid_proba(Bin.Transform(Bin_Train[0:10]), ID = 'ID')
Bin.pred_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID    +    -
0  ID00001  0.7  0.3
1  ID00002  0.2  0.8
2  ID00003  0.2  0.8
3  ID00004  0.1  0.9
4  ID00005  1.0  0.0
5  ID00006  0.9  0.1
6  ID00007  0.1  0.9
7  ID00008  0.1  0.9
8  ID00009  0.1  0.9
9  ID00010  0.0  1.0

In [23]:
Bin.pred_grid_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID    +    -
0  ID00001  0.7  0.3
1  ID00002  0.2  0.8
2  ID00003  0.2  0.8
3  ID00004  0.1  0.9
4  ID00005  1.0  0.0
5  ID00006  0.9  0.1
6  ID00007  0.1  0.9
7  ID00008  0.1  0.9
8  ID00009  0.1  0.9
9  ID00010  0.0  1.0

In [24]:
Bin.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'roc_auc_score')

Fitting on 100 data...
100 datas -> roc_auc_score = 0.6108687420303344

Fitting on 200 data...
200 datas -> roc_auc_score = 0.609497788453423

Fitting on 300 data...
300 datas -> roc_auc_score = 0.6115177208866259

Fitting on 1000 data...
1000 datas -> roc_auc_score = 0.6585715393687226

Fitting on 2000 data...
2000 datas -> roc_auc_score = 0.66642486786608

Fitting on 5000 data...
5000 datas -> roc_auc_score = 0.6837499800401933


 In the end, the best data size is 5000

 With this roc_auc_score : 0.6837499800401933

In [25]:
Bin.Bagg_fit(Bin_Train, Bin_Target, n_estimators = [10,20,30], type_esti = 'Classifier', n = 300,
                 cv = 3, value = 0, ID = 'ID', metric = 'roc_auc')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:   27.7s finished

 Best hyperparametres : {'n_estimators': 30}

 Giving this roc_auc score : 0.7720325918294669

## Regression

In [26]:
Reg_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\input_training.csv", sep = ';')
Reg_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target_Engie.csv", sep = ';')

In [27]:
Reg_Train.head(5)

,ID,MAC_CODE,Date_time,Pitch_angle,Pitch_angle_min,Pitch_angle_max,Pitch_angle_std,Hub_temperature,Hub_temperature_min,Hub_temperature_max,...,Rotor_speed,Rotor_speed_min,Rotor_speed_max,Rotor_speed_std,Rotor_bearing_temperature,Rotor_bearing_temperature_min,Rotor_bearing_temperature_max,Rotor_bearing_temperature_std,Absolute_wind_direction_c,Nacelle_angle_c
0,1,WT3,1.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,294.19000,294.23999
1,2,WT3,2.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,297.82999,294.23999
2,3,WT3,3.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,322.20999,294.23999
3,4,WT3,4.0,92.470001,92.470001,92.470001,0.0,6.97,6.7,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,318.69000,294.23999
4,5,WT3,5.0,92.470001,92.470001,92.470001,0.0,6.93,6.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.5,0.0,314.89001,294.23999

In [28]:
Reg_Target.head(5)

   ID  TARGET
0   1  -0.703
1   2  -0.747
2   3  -0.791
3   4  -0.736
4   5  -1.055

### fit method

In [29]:
Reg = BestEstimator(type_esti = 'Regressor', hard_grid=False)

Reg.fit(Reg_Train, Reg_Target, n_grid= 1000, scoring = 'neg_mean_absolute_error')

Missing Values :

                                Total          %
Grid_voltage                   101322  16.411451
Grid_voltage_std               101322  16.411451
Grid_voltage_max               101322  16.411451
Grid_voltage_min               101322  16.411451
Gearbox_inlet_temperature        8064   1.306152
Generator_converter_speed        8064   1.306152
Generator_converter_speed_min    8064   1.306152
Generator_converter_speed_max    8064   1.306152
Generator_converter_speed_std    8064   1.306152
Gearbox_inlet_temperature_min    8064   1.306152
Gearbox_inlet_temperature_max    8064   1.306152
Gearbox_inlet_temperature_std    8064   1.306152
Absolute_wind_direction_c          72   0.011662
Nacelle_angle_c                    72   0.011662

NaN data filled by 0

Searching for the best regressor on 1000 data using neg_mean_absolute_error loss...


 Bagging: -28.2752 (+/- 1.1850)

 Gradient Boosting: -26.3843 (+/- 1.2787)

 XGBoost: -25.6346 (+/- 2.0193)

 Random Forest: -27.8186 (+/- 2.0558)

 Decision Tree: -40.8038 (+/- 16.6862)

 Extra Tree: -29.0554 (+/- 4.4583)

 KNN: -161.6374 (+/- 12.0613)

 SVM: -309.5394 (+/- 36.0402)

 Searching for the best hyperparametres of XGBoost on 1000 data among :

{'eta': [0.01, 0.1, 0.3], 'max_depth': [5, 10, 15], 'gamma': [0, 0.1, 0.01]}

Fitting 3 folds for each of 27 candidates, totalling 81 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   24.2s
[Parallel(n_jobs=-1)]: Done  81 out of  81 | elapsed:   41.7s finished

 In the end, the best estimator is : XGBoost Regressor

 Using these hyperparametres : {'eta': 0.01, 'gamma': 0.1, 'max_depth': 5}

 With this neg_mean_absolute_error score : -25.602254532622563

In [30]:
Reg.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'mean_absolute_error', type_esti = 'Regressor')

Fitting on 200 data...
200 datas -> mean_absolute_error = 39.60962117360351

Fitting on 300 data...
300 datas -> mean_absolute_error = 34.262711017157955

Fitting on 1000 data...
1000 datas -> mean_absolute_error = 24.242441333962816

Fitting on 2000 data...
2000 datas -> mean_absolute_error = 20.593891179937724

Fitting on 5000 data...
5000 datas -> mean_absolute_error = 18.030675542181598


 In the end, the best data size is 5000

 With this mean_absolute_error : 18.030675542181598

### All pred methods

In [31]:
Reg.pred(Reg_Train[0:10], ID='ID')

   ID    Target
0   1 -0.788595
1   2 -0.788595
2   3 -0.788595
3   4 -0.788595
4   5 -0.788595
5   6 -0.397428
6   7  0.036719
7   8  0.036719
8   9  0.036719
9  10  0.036719

In [32]:
Reg.pred_grid(Reg_Train[0:10], ID='ID')

   ID    Target
0   1 -0.788595
1   2 -0.788595
2   3 -0.788595
3   4 -0.788595
4   5 -0.788595
5   6 -0.397428
6   7  0.036719
7   8  0.036719
8   9  0.036719
9  10  0.036719

### Bagg_fit method

In [33]:
Reg.Bagg_fit(Reg_Train, Reg_Target, n_estimators = [10,20,30], type_esti = 'Regressor', n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'mean_absolute_error')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:   43.1s finished

 Best hyperparametres : {'n_estimators': 10}

 Giving this mean_absolute_error score : -0.4158702146023279