# Ensemble des tests

In [1]:
import sklearn
import pandas 
import xgboost
import numpy

print('Pandas version :',pandas.__version__)
print('Sklearn version :',sklearn.__version__)
print('Xgboost version :',xgboost.__version__)
print('Numpy version :',numpy.__version__)

Pandas version : 0.23.4
Sklearn version : 0.19.2
Xgboost version : 0.81
Numpy version : 1.15.1

In [2]:
%run -i Bestestimator_neg_fixed.py

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Multiclass

In [3]:
Multi_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train.csv", sep = ',')
Multi_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target.csv", sep = ';')

#### Coup d'oeil sur les données

In [4]:
Multi_Train.head(5)

,ID,SHIPPING_MODE,SHIPPING_PRICE,WARRANTIES_FLG,WARRANTIES_PRICE,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,...,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,BUYING_DATE,SELLER_SCORE_COUNT,SELLER_SCORE_AVERAGE,SELLER_COUNTRY,SELLER_DEPARTMENT,PRODUCT_TYPE,PRODUCT_FAMILY,ITEM_PRICE
0,0,NORMAL,NaN,False,NaN,1,0,1,0,UNSUBSCRIBED,...,1992.0,34,3/2017,10000<100000,46.0,"FRANCE, METROPOLITAN",61,CELLPHONE_ACCESSORY,ELECTRONICS,<10
1,1,NORMAL,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1952.0,77,8/2017,10000<100000,45.0,"FRANCE, METROPOLITAN",30,CELLPHONE_ACCESSORY,ELECTRONICS,<10
2,2,NORMAL,NaN,False,NaN,0,0,0,1,PLATINUM,...,1991.0,58,5/2017,10000<100000,43.0,CHINA,-1,TOYS,BABY,<10
3,3,RECOMMANDE,NaN,True,5<20,1,0,0,0,UNSUBSCRIBED,...,1955.0,31,5/2017,10000<100000,44.0,"FRANCE, METROPOLITAN",2,GARDEN_TOOLS,WHITE,50<100
4,4,RECOMMANDE,NaN,False,NaN,1,0,1,0,PLATINUM,...,1984.0,93,9/2017,1000<10000,44.0,CHINA,-1,MODEL,BABY,1000<5000

In [5]:
Multi_Target.head(5)

   ID    CLAIM_TYPE
0   0       DAMAGED
1   1             -
2   2  NOT_RECEIVED
3   3             -
4   4    WITHDRAWAL

### fit method

#### Lance le pipeline de choix d'estimateur et d'hyperparamètres optimaux

In [36]:
Multi = BestEstimator(hard_grid=False)
Multi.fit(Multi_Train, Multi_Target, scoring = 'accuracy', n = 1000)

Missing Values :

                      Total       %
WARRANTIES_PRICE      96603  96.603
SHIPPING_PRICE        67610  67.610
BUYER_BIRTHDAY_DATE    5836   5.836
SHIPPING_MODE           315   0.315
PRICECLUB_STATUS         57   0.057
SELLER_SCORE_AVERAGE      6   0.006
SELLER_SCORE_COUNT        6   0.006

NaN data filled by 0

Searching for the best regressor on 1000 data using accuracy loss...


 Bagging: 0.4560 (+/- 0.0117)

 Gradient Boosting: 0.4681 (+/- 0.0153)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.4900 (+/- 0.0156)

 Random Forest: 0.5090 (+/- 0.0169)

 Decision Tree: 0.3600 (+/- 0.0185)

 Extra Tree: 0.4571 (+/- 0.0321)

 KNN: 0.4470 (+/- 0.0126)

 SVM: 0.4870 (+/- 0.0027)

 Searching for the best hyperparametres of Random Forest on 1000 data among :

{'n_estimators': [10, 100, 300], 'max_depth': [5, 10, None], 'criterion': ['gini', 'entropy']}

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   15.4s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   18.6s finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': 10, 'n_estimators': 300}

 With this accuracy score : 0.513

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### All pred methods

In [7]:
Multi.pred(Multi_Train[0:10], ID='ID', refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

    ID Target
20  20      -
21  21      -
22  22      -
23  23      -
24  24      -
25  25      -
26  26      -
27  27      -
28  28      -
29  29      -

In [8]:
Multi.pred_grid(Multi_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID      Target
0   0           -
1   1           -
2   2           -
3   3           -
4   4  WITHDRAWAL
5   5           -
6   6           -
7   7  WITHDRAWAL
8   8           -
9   9           -

#### Prédiction des probabilités de chaque classe

##### A partir du premier fit

In [9]:
Multi.pred_grid_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.50,0.08,0.06,0.00,0.11,0.15,0.03,0.07
1,1,0.45,0.06,0.00,0.00,0.09,0.21,0.04,0.15
2,2,0.25,0.04,0.08,0.01,0.21,0.24,0.02,0.15
3,3,0.32,0.09,0.02,0.00,0.13,0.29,0.04,0.11
4,4,0.21,0.10,0.03,0.03,0.20,0.08,0.03,0.32
5,5,0.57,0.05,0.02,0.01,0.07,0.19,0.06,0.03
6,6,0.56,0.04,0.02,0.00,0.08,0.13,0.12,0.05
7,7,0.23,0.05,0.05,0.00,0.16,0.23,0.03,0.25
8,8,0.46,0.05,0.04,0.00,0.06,0.22,0.05,0.12
9,9,0.38,0.04,0.08,0.00,0.07,0.27,0.07,0.09

##### En relançant un fit à partir du meilleur estimateur trouvé et de ses meilleurs hyperparamètres

In [10]:
Multi.pred_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.47,0.05,0.03,0.00,0.04,0.15,0.15,0.11
1,1,0.37,0.05,0.02,0.02,0.07,0.25,0.10,0.12
2,2,0.28,0.08,0.05,0.02,0.12,0.20,0.05,0.20
3,3,0.31,0.05,0.03,0.02,0.13,0.30,0.13,0.03
4,4,0.25,0.05,0.02,0.09,0.22,0.10,0.02,0.25
5,5,0.54,0.14,0.01,0.00,0.04,0.13,0.10,0.04
6,6,0.55,0.04,0.01,0.00,0.05,0.18,0.09,0.08
7,7,0.24,0.07,0.03,0.01,0.10,0.30,0.05,0.20
8,8,0.49,0.09,0.06,0.01,0.08,0.18,0.05,0.04
9,9,0.44,0.07,0.08,0.01,0.05,0.17,0.07,0.11

### best_size method

#### Permet d'évaluer l'erreur en fittant sur différent taille de Train ce qui permet de voir à quel moment apparait l'overfitting

In [11]:
Multi.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'accuracy_score')

Fitting on 100 data...
100 datas -> accuracy_score = 0.4886902261954761

Fitting on 200 data...
200 datas -> accuracy_score = 0.49520009599808

Fitting on 300 data...
300 datas -> accuracy_score = 0.49316013679726406

Fitting on 1000 data...
1000 datas -> accuracy_score = 0.49940001199976003

Fitting on 2000 data...
2000 datas -> accuracy_score = 0.510979780404392

Fitting on 5000 data...
5000 datas -> accuracy_score = 0.5195296094078119


 In the end, the best data size is 5000

 With this accuracy_score : 0.5195296094078119

### Bagg_fit method

#### Permet d'utiliser un Bagging sur le meilleur estimateur trouvé dans le fit method

In [12]:
Multi.Bagg_fit(Multi_Train, Multi_Target, n_estimators = [10,20,30], type_esti = 'Classifier', n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'accuracy')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:   43.7s finished

 Best hyperparametres : {'n_estimators': 10}

 Giving this accuracy score : 0.521
BaggingClassifier(base_estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=10, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

## Binary class

In [13]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

Bin_Target = pd.DataFrame()
Bin_Target['ID'] = target['ID']
Bin_Target['Target'] = [np.nan]*target.shape[0]


for i in range(target.shape[0]):
    if target['Target'][i] == 1:
        Bin_Target['Target'][i] ='+'
    else :
        Bin_Target['Target'][i] ='-'

Bestestimator_neg_fixed.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [14]:
# Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
# Bin_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

In [15]:
Bin_Train.head(5)

,ID,month,country,1_diffClosing stocks(kmt),1_diffExports(kmt),1_diffImports(kmt),1_diffRefinery intake(kmt),1_diffWTI,1_diffSumClosing stocks(kmt),1_diffSumExports(kmt),...,12_diffClosing stocks(kmt),12_diffExports(kmt),12_diffImports(kmt),12_diffRefinery intake(kmt),12_diffWTI,12_diffSumClosing stocks(kmt),12_diffSumExports(kmt),12_diffSumImports(kmt),12_diffSumProduction(kmt),12_diffSumRefinery intake(kmt)
0,ID00001,5,52,0.0000,237.0000,0.0000,33.0000,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,0.0000,14.0000,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
1,ID00002,12,69,28.0000,-34.0000,60.0000,7.0000,-5.95,195.2005,7500.1033,...,-43.0000,-129.0000,-67.0000,-16.0000,-5.62,3217.0304,-6563.6422,-3587.5152,-13053.6586,-13005.0503
2,ID00003,5,74,0.0000,0.0000,-29.1227,-85.5816,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,-17.8667,-13.2214,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
3,ID00004,11,34,175.3701,91.5209,0.0000,339.4347,7.66,-2247.4834,-6806.1222,...,81.8304,-579.9462,0.0000,16.6891,-8.62,-2929.8903,1072.8473,504.0197,-4827.2299,3962.6288
4,ID00005,7,2,-550.0674,251.9568,0.0000,-49.5277,-12.07,-2652.6804,2165.7119,...,-1127.1255,-512.5506,0.0000,-2.0243,7.20,2513.6243,-1732.4430,-4827.1576,-7242.5506,-13079.2251

In [16]:
Bin_Target.head(10)

        ID Target
0  ID00001      +
1  ID00002      -
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      +
6  ID00007      -
7  ID00008      -
8  ID00009      -
9  ID00010      -

### Fit method

In [17]:
Bin = BestEstimator(type_esti = 'Classifier', hard_grid=True)
Bin.fit(Bin_Train, Bin_Target, scoring = 'roc_auc', n_grid = 100)

Missing Values :

                            Total         %
1_diffClosing stocks(kmt)     261  2.569151
2_diffClosing stocks(kmt)     257  2.529777
3_diffClosing stocks(kmt)     253  2.490403
4_diffClosing stocks(kmt)     249  2.451029
5_diffClosing stocks(kmt)     245  2.411655
6_diffClosing stocks(kmt)     241  2.372281
7_diffClosing stocks(kmt)     238  2.342750
8_diffClosing stocks(kmt)     235  2.313220
9_diffClosing stocks(kmt)     232  2.283689
10_diffClosing stocks(kmt)    228  2.244315
11_diffClosing stocks(kmt)    224  2.204941
12_diffClosing stocks(kmt)    220  2.165567
1_diffImports(kmt)            151  1.486367
2_diffImports(kmt)            148  1.456836
3_diffImports(kmt)            145  1.427306
4_diffImports(kmt)            142  1.397775
5_diffImports(kmt)            139  1.368245
6_diffImports(kmt)            136  1.338714
7_diffImports(kmt)            133  1.309184
8_diffImports(kmt)            130  1.279654
9_diffImports(kmt)            127  1.250123
10_diffImports(kmt)           124  1.220593
11_diffImports(kmt)           121  1.191062
12_diffImports(kmt)           118  1.161532

NaN data filled by 0

Searching for the best regressor on 1000 data using roc_auc loss...


 Bagging: 0.7118 (+/- 0.0180)

 Gradient Boosting: 0.7221 (+/- 0.0364)

 XGBoost: 0.7121 (+/- 0.0225)

 Random Forest: 0.7110 (+/- 0.0304)

 Decision Tree: 0.6167 (+/- 0.0359)

 Extra Tree: 0.6822 (+/- 0.0183)

 KNN: 0.6367 (+/- 0.0594)

 SVM: 0.5040 (+/- 0.0054)

 Searching for the best hyperparametres of Gradient Boosting on 100 data among :

{'n_estimators': [100, 300, 600], 'max_depth': [5, 10, None], 'learning_rate': [0.001, 0.01, 0.1], 'loss': ['deviance', 'exponential']}

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)
Fitting 3 folds for each of 54 candidates, totalling 162 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   14.1s
[Parallel(n_jobs=-1)]: Done 162 out of 162 | elapsed:   32.3s finished

 In the end, the best estimator is : Gradient Boosting Classifier

 Using these hyperparametres : {'learning_rate': 0.1, 'loss': 'deviance', 'max_depth': 5, 'n_estimators': 100}

 With this roc_auc score : 0.6914448051948052

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### All pred methods

In [18]:
Bin.pred_grid(Bin_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID Target
0  ID00001      +
1  ID00002      +
2  ID00003      +
3  ID00004      -
4  ID00005      +
5  ID00006      -
6  ID00007      -
7  ID00008      -
8  ID00009      +
9  ID00010      +

In [19]:
Bin.pred(Bin_Train[0:10], ID='ID', value=0, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID Target
0  ID00001      +
1  ID00002      -
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      +
6  ID00007      -
7  ID00008      -
8  ID00009      -
9  ID00010      -

In [20]:
#Bin.pred_grid_proba(Bin.Transform(Bin_Train[0:10]), ID = 'ID')
Bin.pred_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID         +         -
0  ID00001  0.960817  0.039183
1  ID00002  0.131706  0.868294
2  ID00003  0.024445  0.975555
3  ID00004  0.024891  0.975109
4  ID00005  0.926805  0.073195
5  ID00006  0.835489  0.164511
6  ID00007  0.016802  0.983198
7  ID00008  0.010351  0.989649
8  ID00009  0.082133  0.917867
9  ID00010  0.020194  0.979806

In [21]:
Bin.pred_grid_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID         +         -
0  ID00001  0.960817  0.039183
1  ID00002  0.131706  0.868294
2  ID00003  0.024445  0.975555
3  ID00004  0.024891  0.975109
4  ID00005  0.926805  0.073195
5  ID00006  0.835489  0.164511
6  ID00007  0.016802  0.983198
7  ID00008  0.010351  0.989649
8  ID00009  0.082133  0.917867
9  ID00010  0.020194  0.979806

In [22]:
Bin.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'roc_auc_score')

Fitting on 100 data...
100 datas -> roc_auc_score = 0.5914353039935581

Fitting on 200 data...
200 datas -> roc_auc_score = 0.6158393041669233

Fitting on 300 data...
300 datas -> roc_auc_score = 0.6078069076898862

Fitting on 1000 data...
1000 datas -> roc_auc_score = 0.6604409178317491

Fitting on 2000 data...
2000 datas -> roc_auc_score = 0.6735761814494697

Fitting on 5000 data...
5000 datas -> roc_auc_score = 0.6864582406628024


 In the end, the best data size is 5000

 With this roc_auc_score : 0.6864582406628024

In [23]:
Bin.Bagg_fit(Bin_Train, Bin_Target, n_estimators = [10,20,30], type_esti = 'Classifier', n = 300,
                 cv = 3, value = 0, ID = 'ID', metric = 'roc_auc')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:   34.1s finished

 Best hyperparametres : {'n_estimators': 20}

 Giving this roc_auc score : 0.7626091142653642
BaggingClassifier(base_estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=5,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=20, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

## Regression

In [24]:
Reg_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\input_training.csv", sep = ';')
Reg_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target_Engie.csv", sep = ';')

In [25]:
Reg_Train.head(5)

,ID,MAC_CODE,Date_time,Pitch_angle,Pitch_angle_min,Pitch_angle_max,Pitch_angle_std,Hub_temperature,Hub_temperature_min,Hub_temperature_max,...,Rotor_speed,Rotor_speed_min,Rotor_speed_max,Rotor_speed_std,Rotor_bearing_temperature,Rotor_bearing_temperature_min,Rotor_bearing_temperature_max,Rotor_bearing_temperature_std,Absolute_wind_direction_c,Nacelle_angle_c
0,1,WT3,1.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,294.19000,294.23999
1,2,WT3,2.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,297.82999,294.23999
2,3,WT3,3.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,322.20999,294.23999
3,4,WT3,4.0,92.470001,92.470001,92.470001,0.0,6.97,6.7,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,318.69000,294.23999
4,5,WT3,5.0,92.470001,92.470001,92.470001,0.0,6.93,6.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.5,0.0,314.89001,294.23999

In [26]:
Reg_Target.head(5)

   ID  TARGET
0   1  -0.703
1   2  -0.747
2   3  -0.791
3   4  -0.736
4   5  -1.055

### fit method

In [ ]:
%run -i Bestestimator_neg_fixed.py

Reg = BestEstimator(type_esti = 'Regressor', hard_grid=False, grid = True)

Reg.fit(Reg_Train, Reg_Target, n_grid= 500, scoring = 'neg_mean_absolute_error',view_nan = False)

True
NaN data filled by 0

Searching for the best regressor on 1000 data using neg_mean_absolute_error loss...


 Bagging: 31.4136 (+/- 1.0003)

 Gradient Boosting: 26.5907 (+/- 1.3468)

 XGBoost: 25.6346 (+/- 2.0193)

 Random Forest: 27.4038 (+/- 1.6360)

 Decision Tree: 41.3651 (+/- 11.8527)

 Extra Tree: 29.2546 (+/- 4.7392)

 KNN: 161.6374 (+/- 12.0613)

 SVM: 309.5394 (+/- 36.0402)
True
XGBoost

 Searching for the best hyperparametres of XGBoost on 500 data among :

{'eta': [0.01, 0.1, 0.3], 'max_depth': [5, 10, 15], 'gamma': [0, 0.1, 0.01]}

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)
Fitting 3 folds for each of 27 candidates, totalling 81 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   17.6s

In [ ]:
Reg.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'mean_absolute_error', type_esti = 'Regressor')

### All pred methods

In [ ]:
Reg.pred(Reg_Train[0:10], ID='ID')

In [ ]:
Reg.pred_grid(Reg_Train[0:10], ID='ID')

### Bagg_fit method

In [ ]:
Reg.Bagg_fit(Reg_Train, Reg_Target, n_estimators = [10,20,30], type_esti = 'Regressor', n = 300,
                 cv = 3, value = 0, ID = 'ID', metric = 'mean_absolute_error')

In [ ]:
Reg.custom_grid(Reg_Train, Reg_Target, ID='ID', target_ID=True, n=1000, metric='mean_absolute_error', 
                params = {'eta': [0.001, .01],
                              'max_depth': [5, 10],
                              'gamma': [0, .1]}
, cv=3, DF=None, value=0)