# Ensemble des tests

In [1]:
import sklearn
import pandas 
import xgboost
import numpy

print('Pandas version :',pandas.__version__)
print('Sklearn version :',sklearn.__version__)
print('Xgboost version :',xgboost.__version__)
print('Numpy version :',numpy.__version__)

Pandas version : 0.23.4
Sklearn version : 0.19.2
Xgboost version : 0.81
Numpy version : 1.15.1

In [2]:
%run -i Bestestimator_neg_fixed.py

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

## Multiclass

In [3]:
Multi_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train.csv", sep = ',')
Multi_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target.csv", sep = ';')

#### Coup d'oeil sur les données

In [4]:
Multi_Train.head(5)

,ID,SHIPPING_MODE,SHIPPING_PRICE,WARRANTIES_FLG,WARRANTIES_PRICE,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,...,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,BUYING_DATE,SELLER_SCORE_COUNT,SELLER_SCORE_AVERAGE,SELLER_COUNTRY,SELLER_DEPARTMENT,PRODUCT_TYPE,PRODUCT_FAMILY,ITEM_PRICE
0,0,NORMAL,NaN,False,NaN,1,0,1,0,UNSUBSCRIBED,...,1992.0,34,3/2017,10000<100000,46.0,"FRANCE, METROPOLITAN",61,CELLPHONE_ACCESSORY,ELECTRONICS,<10
1,1,NORMAL,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1952.0,77,8/2017,10000<100000,45.0,"FRANCE, METROPOLITAN",30,CELLPHONE_ACCESSORY,ELECTRONICS,<10
2,2,NORMAL,NaN,False,NaN,0,0,0,1,PLATINUM,...,1991.0,58,5/2017,10000<100000,43.0,CHINA,-1,TOYS,BABY,<10
3,3,RECOMMANDE,NaN,True,5<20,1,0,0,0,UNSUBSCRIBED,...,1955.0,31,5/2017,10000<100000,44.0,"FRANCE, METROPOLITAN",2,GARDEN_TOOLS,WHITE,50<100
4,4,RECOMMANDE,NaN,False,NaN,1,0,1,0,PLATINUM,...,1984.0,93,9/2017,1000<10000,44.0,CHINA,-1,MODEL,BABY,1000<5000

In [5]:
Multi_Target.head(5)

   ID    CLAIM_TYPE
0   0       DAMAGED
1   1             -
2   2  NOT_RECEIVED
3   3             -
4   4    WITHDRAWAL

### fit method

#### Lance le pipeline de choix d'estimateur et d'hyperparamètres optimaux

In [6]:
Multi = BestEstimator(hard_grid=True)
Multi.fit(Multi_Train, Multi_Target, scoring = 'accuracy', n = 1000)

Missing Values :

                      Total       %
WARRANTIES_PRICE      96603  96.603
SHIPPING_PRICE        67610  67.610
BUYER_BIRTHDAY_DATE    5836   5.836
SHIPPING_MODE           315   0.315
PRICECLUB_STATUS         57   0.057
SELLER_SCORE_AVERAGE      6   0.006
SELLER_SCORE_COUNT        6   0.006

NaN data filled by 0

Searching for the best regressor on 1000 data using accuracy loss...


 Bagging: 0.4630 (+/- 0.0266)

 Gradient Boosting: 0.4670 (+/- 0.0125)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.4900 (+/- 0.0156)

 Random Forest: 0.5110 (+/- 0.0185)

 Decision Tree: 0.3491 (+/- 0.0176)

 Extra Tree: 0.4331 (+/- 0.0391)

 KNN: 0.4470 (+/- 0.0126)

 SVM: 0.4870 (+/- 0.0027)

 Searching for the best hyperparametres of Random Forest using hard_grid on 1000 data among :

{'n_estimators': [10, 100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 20, 25], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   30.0s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:  2.3min finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': 10, 'n_estimators': 300}

 With this accuracy score : 0.515

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### All pred methods

In [7]:
Multi.pred(Multi_Train[0:10], ID='ID', refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID      Target
0   0           -
1   1           -
2   2           -
3   3           -
4   4  WITHDRAWAL
5   5           -
6   6           -
7   7           -
8   8           -
9   9           -

In [8]:
Multi.pred_grid(Multi_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID      Target
0   0           -
1   1           -
2   2           -
3   3           -
4   4  WITHDRAWAL
5   5           -
6   6           -
7   7           -
8   8           -
9   9           -

#### Prédiction des probabilités de chaque classe

##### A partir du premier fit

In [9]:
Multi.pred_grid_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.505170,0.060518,0.035287,0.003704,0.061758,0.173952,0.055608,0.104003
1,1,0.414157,0.047812,0.033842,0.007159,0.100302,0.226401,0.041156,0.129171
2,2,0.257905,0.064493,0.025335,0.019064,0.223967,0.256717,0.032583,0.119936
3,3,0.322718,0.078547,0.038016,0.005639,0.079268,0.299251,0.068240,0.108321
4,4,0.206308,0.068056,0.025686,0.044076,0.206638,0.125789,0.047602,0.275845
5,5,0.425877,0.109280,0.029799,0.006190,0.089996,0.181477,0.077887,0.079493
6,6,0.460464,0.069112,0.019360,0.008720,0.110116,0.170550,0.081192,0.080487
7,7,0.265278,0.051783,0.058280,0.007399,0.168802,0.194752,0.030031,0.223674
8,8,0.451208,0.096094,0.037744,0.000661,0.077844,0.197944,0.048303,0.090202
9,9,0.395916,0.084472,0.055312,0.000048,0.074328,0.246523,0.040089,0.103312

##### En relançant un fit à partir du meilleur estimateur trouvé et de ses meilleurs hyperparamètres

In [10]:
Multi.pred_proba(Multi_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.459886,0.073168,0.055856,0.000057,0.074187,0.168267,0.065395,0.103183
1,1,0.422733,0.067308,0.023669,0.000429,0.089766,0.212436,0.059183,0.124477
2,2,0.253653,0.060505,0.028869,0.014395,0.230652,0.282615,0.025310,0.104001
3,3,0.308973,0.063793,0.018821,0.006759,0.092782,0.357192,0.063158,0.088523
4,4,0.233895,0.077511,0.042154,0.035728,0.214646,0.096260,0.045575,0.254231
5,5,0.414351,0.154877,0.041653,0.006935,0.119908,0.173230,0.041118,0.047927
6,6,0.483185,0.072455,0.033302,0.003705,0.086071,0.209722,0.048085,0.063475
7,7,0.276025,0.035805,0.052605,0.010533,0.153354,0.173875,0.032318,0.265484
8,8,0.450202,0.107758,0.031884,0.006795,0.086189,0.178673,0.039441,0.099058
9,9,0.379265,0.098170,0.040719,0.010000,0.079117,0.211684,0.053210,0.127834

### best_size method

#### Permet d'évaluer l'erreur en fittant sur différent taille de Train ce qui permet de voir à quel moment apparait l'overfitting

In [11]:
Multi.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'accuracy_score')

Fitting on 100 data...
100 datas -> accuracy_score = 0.4874602507949841

Fitting on 200 data...
200 datas -> accuracy_score = 0.499280014399712

Fitting on 300 data...
300 datas -> accuracy_score = 0.5019499610007799

Fitting on 1000 data...
1000 datas -> accuracy_score = 0.507829843403132

Fitting on 2000 data...
2000 datas -> accuracy_score = 0.5162896742065158

Fitting on 5000 data...
5000 datas -> accuracy_score = 0.5241795164096718


 In the end, the best data size is 5000

 With this accuracy_score : 0.5241795164096718

### Bagg_fit method

#### Permet d'utiliser un Bagging sur le meilleur estimateur trouvé dans le fit method

In [12]:
Multi.Bagg_fit(Multi_Train, Multi_Target, n_estimators = [10,20,30], n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'accuracy')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:  1.3min finished

 Best hyperparametres : {'n_estimators': 20}

 Giving this accuracy score : 0.519

## Binary class

In [13]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

Bin_Target = pd.DataFrame()
Bin_Target['ID'] = target['ID']
Bin_Target['Target'] = [np.nan]*target.shape[0]


for i in range(target.shape[0]):
    if target['Target'][i] == 1:
        Bin_Target['Target'][i] ='+'
    else :
        Bin_Target['Target'][i] ='-'

Bestestimator_neg_fixed.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [14]:
# Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
# Bin_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

In [15]:
Bin_Train.head(5)

,ID,month,country,1_diffClosing stocks(kmt),1_diffExports(kmt),1_diffImports(kmt),1_diffRefinery intake(kmt),1_diffWTI,1_diffSumClosing stocks(kmt),1_diffSumExports(kmt),...,12_diffClosing stocks(kmt),12_diffExports(kmt),12_diffImports(kmt),12_diffRefinery intake(kmt),12_diffWTI,12_diffSumClosing stocks(kmt),12_diffSumExports(kmt),12_diffSumImports(kmt),12_diffSumProduction(kmt),12_diffSumRefinery intake(kmt)
0,ID00001,5,52,0.0000,237.0000,0.0000,33.0000,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,0.0000,14.0000,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
1,ID00002,12,69,28.0000,-34.0000,60.0000,7.0000,-5.95,195.2005,7500.1033,...,-43.0000,-129.0000,-67.0000,-16.0000,-5.62,3217.0304,-6563.6422,-3587.5152,-13053.6586,-13005.0503
2,ID00003,5,74,0.0000,0.0000,-29.1227,-85.5816,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,-17.8667,-13.2214,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
3,ID00004,11,34,175.3701,91.5209,0.0000,339.4347,7.66,-2247.4834,-6806.1222,...,81.8304,-579.9462,0.0000,16.6891,-8.62,-2929.8903,1072.8473,504.0197,-4827.2299,3962.6288
4,ID00005,7,2,-550.0674,251.9568,0.0000,-49.5277,-12.07,-2652.6804,2165.7119,...,-1127.1255,-512.5506,0.0000,-2.0243,7.20,2513.6243,-1732.4430,-4827.1576,-7242.5506,-13079.2251

In [16]:
Bin_Target.head(10)

        ID Target
0  ID00001      +
1  ID00002      -
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      +
6  ID00007      -
7  ID00008      -
8  ID00009      -
9  ID00010      -

### Fit method

In [17]:
Bin = BestEstimator(type_esti = 'Classifier', hard_grid=True)
Bin.fit(Bin_Train, Bin_Target, scoring = 'roc_auc', n_grid = 1000)

Missing Values :

                            Total         %
1_diffClosing stocks(kmt)     261  2.569151
2_diffClosing stocks(kmt)     257  2.529777
3_diffClosing stocks(kmt)     253  2.490403
4_diffClosing stocks(kmt)     249  2.451029
5_diffClosing stocks(kmt)     245  2.411655
6_diffClosing stocks(kmt)     241  2.372281
7_diffClosing stocks(kmt)     238  2.342750
8_diffClosing stocks(kmt)     235  2.313220
9_diffClosing stocks(kmt)     232  2.283689
10_diffClosing stocks(kmt)    228  2.244315
11_diffClosing stocks(kmt)    224  2.204941
12_diffClosing stocks(kmt)    220  2.165567
1_diffImports(kmt)            151  1.486367
2_diffImports(kmt)            148  1.456836
3_diffImports(kmt)            145  1.427306
4_diffImports(kmt)            142  1.397775
5_diffImports(kmt)            139  1.368245
6_diffImports(kmt)            136  1.338714
7_diffImports(kmt)            133  1.309184
8_diffImports(kmt)            130  1.279654
9_diffImports(kmt)            127  1.250123
10_diffImports(kmt)           124  1.220593
11_diffImports(kmt)           121  1.191062
12_diffImports(kmt)           118  1.161532

NaN data filled by 0

Searching for the best regressor on 1000 data using roc_auc loss...


 Bagging: 0.7193 (+/- 0.0215)

 Gradient Boosting: 0.7193 (+/- 0.0264)

 XGBoost: 0.7121 (+/- 0.0225)

 Random Forest: 0.7290 (+/- 0.0519)

 Decision Tree: 0.6271 (+/- 0.0541)

 Extra Tree: 0.6789 (+/- 0.0315)

 KNN: 0.6367 (+/- 0.0594)

 SVM: 0.5040 (+/- 0.0054)

 Searching for the best hyperparametres of Random Forest using hard_grid on 1000 data among :

{'n_estimators': [10, 100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 20, 25], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   37.0s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:  3.4min finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 100}

 With this roc_auc score : 0.7422744700371818

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

### All pred methods

In [18]:
Bin.pred_grid(Bin_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID Target
0  ID00001      +
1  ID00002      +
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      -
6  ID00007      -
7  ID00008      -
8  ID00009      +
9  ID00010      -

In [19]:
Bin.pred(Bin_Train[0:10], ID='ID', value=0, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID Target
0  ID00001      +
1  ID00002      +
2  ID00003      -
3  ID00004      -
4  ID00005      +
5  ID00006      -
6  ID00007      -
7  ID00008      -
8  ID00009      +
9  ID00010      -

In [20]:
#Bin.pred_grid_proba(Bin.Transform(Bin_Train[0:10]), ID = 'ID')
Bin.pred_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True, refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID         +         -
0  ID00001  0.737792  0.262208
1  ID00002  0.588611  0.411389
2  ID00003  0.463047  0.536953
3  ID00004  0.173776  0.826224
4  ID00005  0.677350  0.322650
5  ID00006  0.392480  0.607520
6  ID00007  0.360428  0.639572
7  ID00008  0.093079  0.906921
8  ID00009  0.574098  0.425902
9  ID00010  0.179113  0.820887

In [21]:
Bin.pred_grid_proba(Bin_Train[0:10], ID_Test = 'ID', ID_pred = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

        ID         +         -
0  ID00001  0.737792  0.262208
1  ID00002  0.588611  0.411389
2  ID00003  0.463047  0.536953
3  ID00004  0.173776  0.826224
4  ID00005  0.677350  0.322650
5  ID00006  0.392480  0.607520
6  ID00007  0.360428  0.639572
7  ID00008  0.093079  0.906921
8  ID00009  0.574098  0.425902
9  ID00010  0.179113  0.820887

In [22]:
Bin.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'roc_auc_score')

Fitting on 100 data...
100 datas -> roc_auc_score = 0.6084410592612362

Fitting on 200 data...
200 datas -> roc_auc_score = 0.5979547471263581

Fitting on 300 data...
300 datas -> roc_auc_score = 0.6147147116321191

Fitting on 1000 data...
1000 datas -> roc_auc_score = 0.6586029047791762

Fitting on 2000 data...
2000 datas -> roc_auc_score = 0.6604369258704186

Fitting on 5000 data...
5000 datas -> roc_auc_score = 0.6735134506285628


 In the end, the best data size is 5000

 With this roc_auc_score : 0.6735134506285628

In [23]:
Bin.Bagg_fit(Bin_Train, Bin_Target, n_estimators = [10,20,30], n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'roc_auc')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:   44.9s finished

 Best hyperparametres : {'n_estimators': 10}

 Giving this roc_auc score : 0.7659756691237769

## Regression

In [24]:
Reg_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\input_training.csv", sep = ';')
Reg_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target_Engie.csv", sep = ';')

In [25]:
Reg_Train.head(5)

,ID,MAC_CODE,Date_time,Pitch_angle,Pitch_angle_min,Pitch_angle_max,Pitch_angle_std,Hub_temperature,Hub_temperature_min,Hub_temperature_max,...,Rotor_speed,Rotor_speed_min,Rotor_speed_max,Rotor_speed_std,Rotor_bearing_temperature,Rotor_bearing_temperature_min,Rotor_bearing_temperature_max,Rotor_bearing_temperature_std,Absolute_wind_direction_c,Nacelle_angle_c
0,1,WT3,1.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,294.19000,294.23999
1,2,WT3,2.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,297.82999,294.23999
2,3,WT3,3.0,92.470001,92.470001,92.470001,0.0,7.00,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,322.20999,294.23999
3,4,WT3,4.0,92.470001,92.470001,92.470001,0.0,6.97,6.7,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,318.69000,294.23999
4,5,WT3,5.0,92.470001,92.470001,92.470001,0.0,6.93,6.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.5,0.0,314.89001,294.23999

In [26]:
Reg_Target.head(5)

   ID  TARGET
0   1  -0.703
1   2  -0.747
2   3  -0.791
3   4  -0.736
4   5  -1.055

### fit method

In [27]:
#%run -i Bestestimator_neg_fixed.py

Reg = BestEstimator(type_esti = 'Regressor', hard_grid=True, grid = True)

Reg.fit(Reg_Train, Reg_Target, scoring = 'neg_mean_absolute_error',view_nan = True)

Missing Values :

                                Total          %
Grid_voltage                   101322  16.411451
Grid_voltage_std               101322  16.411451
Grid_voltage_max               101322  16.411451
Grid_voltage_min               101322  16.411451
Gearbox_inlet_temperature        8064   1.306152
Generator_converter_speed        8064   1.306152
Generator_converter_speed_min    8064   1.306152
Generator_converter_speed_max    8064   1.306152
Generator_converter_speed_std    8064   1.306152
Gearbox_inlet_temperature_min    8064   1.306152
Gearbox_inlet_temperature_max    8064   1.306152
Gearbox_inlet_temperature_std    8064   1.306152
Absolute_wind_direction_c          72   0.011662
Nacelle_angle_c                    72   0.011662

NaN data filled by 0

Searching for the best regressor on 1000 data using neg_mean_absolute_error loss...


 Bagging: 29.3163 (+/- 4.9812)

 Gradient Boosting: 26.7146 (+/- 1.0145)

 XGBoost: 25.6346 (+/- 2.0193)

 Random Forest: 27.8157 (+/- 1.7747)

 Decision Tree: 39.0076 (+/- 13.6513)

 Extra Tree: 30.4378 (+/- 1.1424)

 KNN: 161.6374 (+/- 12.0613)

 SVM: 309.5394 (+/- 36.0402)
True
XGBoost

 Searching for the best hyperparametres of XGBoost using hard_grid on 1000 data among :

{'tol': [0.001, 0.01, 0.1, 0.3, 1], 'max_depth': [5, 10, 15, 20, 25], 'gamma': [0, 0.1, 0.01, 0.001]}

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   24.2s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  2.9min finished

 In the end, the best estimator is : XGBoost Regressor

 Using these hyperparametres : {'gamma': 0.1, 'max_depth': 5, 'tol': 0.001}

 With this neg_mean_absolute_error score : 25.602254532622563

In [28]:
Reg.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'mean_absolute_error')

Fitting on 200 data...
200 datas -> mean_absolute_error = 39.60962117360351

Fitting on 300 data...
300 datas -> mean_absolute_error = 34.262711017157955

Fitting on 1000 data...
1000 datas -> mean_absolute_error = 24.242441333962816

Fitting on 2000 data...
2000 datas -> mean_absolute_error = 20.593891179937724

Fitting on 5000 data...
5000 datas -> mean_absolute_error = 18.030675542181598


 In the end, the best data size is 5000

 With this mean_absolute_error : 18.030675542181598

### All pred methods

In [29]:
Reg.pred(Reg_Train[0:10], ID='ID')

   ID    Target
0   1 -0.788595
1   2 -0.788595
2   3 -0.788595
3   4 -0.788595
4   5 -0.788595
5   6 -0.397428
6   7  0.036719
7   8  0.036719
8   9  0.036719
9  10  0.036719

In [30]:
Reg.pred_grid(Reg_Train[0:10], ID='ID')

   ID    Target
0   1 -0.788595
1   2 -0.788595
2   3 -0.788595
3   4 -0.788595
4   5 -0.788595
5   6 -0.397428
6   7  0.036719
7   8  0.036719
8   9  0.036719
9  10  0.036719

### Bagg_fit method

In [31]:
Reg.custom_grid(Reg_Train, Reg_Target, ID='ID', target_ID=True, n=1000, metric='mean_absolute_error', 
                params = {'eta': [0.001, .01],
                              'max_depth': [5, 10],
                              'gamma': [0, .1]}
, cv=3, DF=None, value=0)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:   12.6s finished

 Best hyperparametres : {'eta': 0.001, 'gamma': 0.1, 'max_depth': 10}

 Giving this mean_absolute_error score : 0.3399626792472564

In [32]:
Reg.Bagg_fit(Reg_Train, Reg_Target, n_estimators = [10,20,30], n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'mean_absolute_error')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:   42.6s finished

 Best hyperparametres : {'n_estimators': 30}

 Giving this mean_absolute_error score : 0.4315516279498115