# Datasets

In [111]:
%run -i bestestimator_v2.py

### Multiclass

In [3]:
Multi_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train.csv", sep = ',')
Multi_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target.csv", sep = ';')

In [6]:
Multi_Train.head(3)

,ID,SHIPPING_MODE,SHIPPING_PRICE,WARRANTIES_FLG,WARRANTIES_PRICE,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,...,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,BUYING_DATE,SELLER_SCORE_COUNT,SELLER_SCORE_AVERAGE,SELLER_COUNTRY,SELLER_DEPARTMENT,PRODUCT_TYPE,PRODUCT_FAMILY,ITEM_PRICE
0,0,NORMAL,NaN,False,NaN,1,0,1,0,UNSUBSCRIBED,...,1992.0,34,3/2017,10000<100000,46.0,"FRANCE, METROPOLITAN",61,CELLPHONE_ACCESSORY,ELECTRONICS,<10
1,1,NORMAL,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1952.0,77,8/2017,10000<100000,45.0,"FRANCE, METROPOLITAN",30,CELLPHONE_ACCESSORY,ELECTRONICS,<10
2,2,NORMAL,NaN,False,NaN,0,0,0,1,PLATINUM,...,1991.0,58,5/2017,10000<100000,43.0,CHINA,-1,TOYS,BABY,<10

In [8]:
Multi_Target.head(5)

   ID    CLAIM_TYPE
0   0       DAMAGED
1   1             -
2   2  NOT_RECEIVED
3   3             -
4   4    WITHDRAWAL

### fit method

In [65]:
clf = BestEstimator()

clf.fit(Multi_Train, Multi_Target, scoring = 'accuracy')

Missing Values :

                      Total       %
WARRANTIES_PRICE      96603  96.603
SHIPPING_PRICE        67610  67.610
BUYER_BIRTHDAY_DATE    5836   5.836
SHIPPING_MODE           315   0.315
PRICECLUB_STATUS         57   0.057
SELLER_SCORE_AVERAGE      6   0.006
SELLER_SCORE_COUNT        6   0.006

NaN data filled by 0

Searching for the best regressor on 1000 data using accuracy loss...


 Bagging: 0.4751 (+/- 0.0313)

 Gradient Boosting: 0.4660 (+/- 0.0146)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.4900 (+/- 0.0156)

 Random Forest: 0.4880 (+/- 0.0170)

 Decision Tree: 0.3689 (+/- 0.0191)

 Extra Tree: 0.4519 (+/- 0.0219)

 KNN: 0.4470 (+/- 0.0126)

 SVM: 0.4870 (+/- 0.0027)

 Searching for the best hyperparametres of XGBoost on 1000 data among :

{'eta': [0.01, 0.1, 0.3], 'max_depth': [5, 10, 15], 'gamma': [0, 0.1, 0.01]}

Fitting 3 folds for each of 27 candidates, totalling 81 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   33.6s
[Parallel(n_jobs=-1)]: Done  81 out of  81 | elapsed:   59.9s finished

 In the end, the best estimator is : XGBoost Classifier

 Using these hyperparametres : {'eta': 0.01, 'gamma': 0, 'max_depth': 5}

 With this accuracy score : 0.47

### ReFit & pred method

In [62]:
clf.ReFit(Multi_Train, Multi_Target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [66]:
clf.pred(Multi_Train[0:10], ID='ID', prob = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.674356,0.036648,0.056155,0.003162,0.049657,0.072719,0.058332,0.048971
1,1,0.554449,0.006455,0.018796,0.002150,0.051058,0.253468,0.011172,0.102451
2,2,0.232685,0.023333,0.026890,0.014591,0.272951,0.331379,0.018975,0.079197
3,3,0.674611,0.060684,0.007279,0.000876,0.084540,0.156048,0.008444,0.007516
4,4,0.270724,0.023580,0.020374,0.142474,0.072026,0.084144,0.006635,0.380042
5,5,0.465984,0.055610,0.011294,0.062921,0.131833,0.232292,0.021794,0.018272
6,6,0.729926,0.012633,0.003695,0.001149,0.014000,0.182468,0.027738,0.028390
7,7,0.065002,0.014357,0.081469,0.002486,0.055184,0.048732,0.007473,0.725297
8,8,0.755076,0.015664,0.031217,0.008709,0.016631,0.138105,0.006271,0.028326
9,9,0.584362,0.023301,0.036876,0.007942,0.053399,0.152797,0.024288,0.117033

In [67]:
clf.pred_grid(Multi_Train[0:10], ID='ID', value=0, prob=True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

,ID,-,DAMAGED,DIFFERENT,FAKE,NOT_RECEIVED,SELLER_CANCEL_POSTERIORI,UNDEFINED,WITHDRAWAL
0,0,0.674356,0.036648,0.056155,0.003162,0.049657,0.072719,0.058332,0.048971
1,1,0.554449,0.006455,0.018796,0.002150,0.051058,0.253468,0.011172,0.102451
2,2,0.232685,0.023333,0.026890,0.014591,0.272951,0.331379,0.018975,0.079197
3,3,0.674611,0.060684,0.007279,0.000876,0.084540,0.156048,0.008444,0.007516
4,4,0.270724,0.023580,0.020374,0.142474,0.072026,0.084144,0.006635,0.380042
5,5,0.465984,0.055610,0.011294,0.062921,0.131833,0.232292,0.021794,0.018272
6,6,0.729926,0.012633,0.003695,0.001149,0.014000,0.182468,0.027738,0.028390
7,7,0.065002,0.014357,0.081469,0.002486,0.055184,0.048732,0.007473,0.725297
8,8,0.755076,0.015664,0.031217,0.008709,0.016631,0.138105,0.006271,0.028326
9,9,0.584362,0.023301,0.036876,0.007942,0.053399,0.152797,0.024288,0.117033

### Binary class

In [68]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

Bin_Target = pd.DataFrame()
Bin_Target['ID'] = target['ID']
Bin_Target['Target'] = [np.nan]*target.shape[0]


for i in range(target.shape[0]):
    if target['Target'][i] == 1:
        Bin_Target['Target'][i] ='+'
    else :
        Bin_Target['Target'][i] ='-'

bestestimator_v2.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

Bin_Target = pd.DataFrame()
Bin_Target['ID'] = target['ID']
Bin_Target['Target'] = [np.nan]*target.shape[0]


for i in range(target.shape[0]):
    if target['Target'][i] == 1:
        Bin_Target['Target'][i] =1
    else :
        Bin_Target['Target'][i] =-1

bestestimator_v2.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
bestestimator_v2.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.model_selection import cross_val_score

In [10]:
Bin_Train.head(3)

,ID,month,country,1_diffClosing stocks(kmt),1_diffExports(kmt),1_diffImports(kmt),1_diffRefinery intake(kmt),1_diffWTI,1_diffSumClosing stocks(kmt),1_diffSumExports(kmt),...,12_diffClosing stocks(kmt),12_diffExports(kmt),12_diffImports(kmt),12_diffRefinery intake(kmt),12_diffWTI,12_diffSumClosing stocks(kmt),12_diffSumExports(kmt),12_diffSumImports(kmt),12_diffSumProduction(kmt),12_diffSumRefinery intake(kmt)
0,ID00001,5,52,0.0,237.0,0.0000,33.0000,-5.62,10426.2462,12135.1024,...,0.0,0.0,0.0000,14.0000,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
1,ID00002,12,69,28.0,-34.0,60.0000,7.0000,-5.95,195.2005,7500.1033,...,-43.0,-129.0,-67.0000,-16.0000,-5.62,3217.0304,-6563.6422,-3587.5152,-13053.6586,-13005.0503
2,ID00003,5,74,0.0,0.0,-29.1227,-85.5816,-5.62,10426.2462,12135.1024,...,0.0,0.0,-17.8667,-13.2214,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560

In [ ]:
Bin_Target.head(3)

In [112]:
clf = BestEstimator()

clf.fit(Bin_Train, Bin_Target, scoring = 'roc_auc', n_grid = 100)

Missing Values :

                            Total         %
1_diffClosing stocks(kmt)     261  2.569151
2_diffClosing stocks(kmt)     257  2.529777
3_diffClosing stocks(kmt)     253  2.490403
4_diffClosing stocks(kmt)     249  2.451029
5_diffClosing stocks(kmt)     245  2.411655
6_diffClosing stocks(kmt)     241  2.372281
7_diffClosing stocks(kmt)     238  2.342750
8_diffClosing stocks(kmt)     235  2.313220
9_diffClosing stocks(kmt)     232  2.283689
10_diffClosing stocks(kmt)    228  2.244315
11_diffClosing stocks(kmt)    224  2.204941
12_diffClosing stocks(kmt)    220  2.165567
1_diffImports(kmt)            151  1.486367
2_diffImports(kmt)            148  1.456836
3_diffImports(kmt)            145  1.427306
4_diffImports(kmt)            142  1.397775
5_diffImports(kmt)            139  1.368245
6_diffImports(kmt)            136  1.338714
7_diffImports(kmt)            133  1.309184
8_diffImports(kmt)            130  1.279654
9_diffImports(kmt)            127  1.250123
10_diffImports(kmt)           124  1.220593
11_diffImports(kmt)           121  1.191062
12_diffImports(kmt)           118  1.161532

NaN data filled by 0

Searching for the best regressor on 1000 data using roc_auc loss...


 Bagging: 0.6994 (+/- 0.0266)

 Gradient Boosting: 0.7221 (+/- 0.0337)

 XGBoost: 0.7121 (+/- 0.0225)

 Random Forest: 0.7222 (+/- 0.0239)

 Decision Tree: 0.5958 (+/- 0.0373)

 Extra Tree: 0.6615 (+/- 0.0219)

 KNN: 0.6367 (+/- 0.0594)

 SVM: 0.5040 (+/- 0.0054)

 Searching for the best hyperparametres of Random Forest on 100 data among :

{'n_estimators': [10, 100, 300], 'max_depth': [5, 10, None], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   12.2s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   14.3s finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': 10, 'n_estimators': 100}

 With this roc_auc score : 0.7942207792207792

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [117]:
clf.ReFit(Bin_Train[0:50000], Bin_Target[0:50000], ID='ID')

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [118]:
clf.pred(Bin_Train[0:10], ID='ID', prob = True)

        ID         +         -
0  ID00001  0.864384  0.135616
1  ID00002  0.524257  0.475743
2  ID00003  0.228078  0.771922
3  ID00004  0.247290  0.752710
4  ID00005  0.751357  0.248643
5  ID00006  0.317844  0.682156
6  ID00007  0.196936  0.803064
7  ID00008  0.109705  0.890295
8  ID00009  0.465107  0.534893
9  ID00010  0.160105  0.839895

In [119]:
clf.pred_grid(Bin_Train[0:10], ID='ID', prob = True)

        ID         +         -
0  ID00001  0.864384  0.135616
1  ID00002  0.524257  0.475743
2  ID00003  0.228078  0.771922
3  ID00004  0.247290  0.752710
4  ID00005  0.751357  0.248643
5  ID00006  0.317844  0.682156
6  ID00007  0.196936  0.803064
7  ID00008  0.109705  0.890295
8  ID00009  0.465107  0.534893
9  ID00010  0.160105  0.839895

### Regression

In [13]:
Reg_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\input_training.csv", sep = ';')
Reg_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target_Engie.csv", sep = ';')

In [14]:
Reg_Train.head(3)

,ID,MAC_CODE,Date_time,Pitch_angle,Pitch_angle_min,Pitch_angle_max,Pitch_angle_std,Hub_temperature,Hub_temperature_min,Hub_temperature_max,...,Rotor_speed,Rotor_speed_min,Rotor_speed_max,Rotor_speed_std,Rotor_bearing_temperature,Rotor_bearing_temperature_min,Rotor_bearing_temperature_max,Rotor_bearing_temperature_std,Absolute_wind_direction_c,Nacelle_angle_c
0,1,WT3,1.0,92.470001,92.470001,92.470001,0.0,7.0,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,294.19000,294.23999
1,2,WT3,2.0,92.470001,92.470001,92.470001,0.0,7.0,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,297.82999,294.23999
2,3,WT3,3.0,92.470001,92.470001,92.470001,0.0,7.0,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,322.20999,294.23999

In [16]:
Reg_Target.head(5)

   ID  TARGET
0   1  -0.703
1   2  -0.747
2   3  -0.791
3   4  -0.736
4   5  -1.055