# Datasets

In [2]:
%run -i bestestimator_v2.py

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Multiclass

In [2]:
Multi_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train.csv", sep = ',')
Multi_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target.csv", sep = ';')

In [3]:
Multi_Train.head(3)

,ID,SHIPPING_MODE,SHIPPING_PRICE,WARRANTIES_FLG,WARRANTIES_PRICE,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,...,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,BUYING_DATE,SELLER_SCORE_COUNT,SELLER_SCORE_AVERAGE,SELLER_COUNTRY,SELLER_DEPARTMENT,PRODUCT_TYPE,PRODUCT_FAMILY,ITEM_PRICE
0,0,NORMAL,NaN,False,NaN,1,0,1,0,UNSUBSCRIBED,...,1992.0,34,3/2017,10000<100000,46.0,"FRANCE, METROPOLITAN",61,CELLPHONE_ACCESSORY,ELECTRONICS,<10
1,1,NORMAL,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1952.0,77,8/2017,10000<100000,45.0,"FRANCE, METROPOLITAN",30,CELLPHONE_ACCESSORY,ELECTRONICS,<10
2,2,NORMAL,NaN,False,NaN,0,0,0,1,PLATINUM,...,1991.0,58,5/2017,10000<100000,43.0,CHINA,-1,TOYS,BABY,<10

In [4]:
Multi_Target.head(5)

   ID    CLAIM_TYPE
0   0       DAMAGED
1   1             -
2   2  NOT_RECEIVED
3   3             -
4   4    WITHDRAWAL

### fit method

In [5]:
Multi = BestEstimator(hard_grid=True)
Multi.fit(Multi_Train, Multi_Target, scoring = 'accuracy')

Missing Values :

                      Total       %
WARRANTIES_PRICE      96603  96.603
SHIPPING_PRICE        67610  67.610
BUYER_BIRTHDAY_DATE    5836   5.836
SHIPPING_MODE           315   0.315
PRICECLUB_STATUS         57   0.057
SELLER_SCORE_AVERAGE      6   0.006
SELLER_SCORE_COUNT        6   0.006

NaN data filled by 0

Searching for the best regressor on 1000 data using accuracy loss...


 Bagging: 0.4740 (+/- 0.0141)

 Gradient Boosting: 0.4701 (+/- 0.0173)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.4900 (+/- 0.0156)

 Random Forest: 0.5180 (+/- 0.0051)

 Decision Tree: 0.3670 (+/- 0.0098)

 Extra Tree: 0.4599 (+/- 0.0300)

 KNN: 0.4470 (+/- 0.0126)

 SVM: 0.4870 (+/- 0.0027)

 Searching for the best hyperparametres of Random Forest using hard_grid on 1000 data among :

{'n_estimators': [10, 100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 20, 25], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 60 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   35.6s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:  2.5min finished

 In the end, the best estimator is : Random Forest Classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': 15, 'n_estimators': 300}

 With this accuracy score : 0.522

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [6]:
Multi.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'accuracy_score')

Fitting on 100 data...
100 datas -> accuracy_score = 0.4892902141957161

Fitting on 200 data...
200 datas -> accuracy_score = 0.49700005999880004

Fitting on 300 data...
300 datas -> accuracy_score = 0.495140097198056

Fitting on 1000 data...
1000 datas -> accuracy_score = 0.501619967600648

Fitting on 2000 data...
2000 datas -> accuracy_score = 0.5155996880062399

Fitting on 5000 data...
5000 datas -> accuracy_score = 0.5275994480110398


 In the end, the best data size is 5000

 With this accuracy_score : 0.5275994480110398

### All pred methods

In [7]:
Multi.pred(Multi_Train[20:30], ID='ID', refit = True)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

    ID Target
20  20      -
21  21      -
22  22      -
23  23      -
24  24      -
25  25      -
26  26      -
27  27      -
28  28      -
29  29      -

In [8]:
Multi.pred_grid(Multi_Train[0:10], ID='ID', value=0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   ID                    Target
0   0                         -
1   1                         -
2   2                         -
3   3  SELLER_CANCEL_POSTERIORI
4   4                WITHDRAWAL
5   5                         -
6   6                         -
7   7                         -
8   8                         -
9   9                         -

In [9]:
#Multi.pred_grid_proba(Multi_Train[0:10].drop(['ID'],axis = 1), ID = None)

In [10]:
#Multi.pred_grid_proba(Multi_Train[0:10].drop(['ID'],axis = 1), ID = None)

### Bagg_fit method

In [11]:
Multi.Bagg_fit(Multi_Train, Multi_Target, n_estimators = [10,20,30], type_esti = 'Classifier', n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'accuracy')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:  1.4min finished

 Best hyperparametres : {'n_estimators': 10}

 Giving this accuracy score : 0.518

### Binary class

In [25]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

Bin_Target = pd.DataFrame()
Bin_Target['ID'] = target['ID']
Bin_Target['Target'] = [np.nan]*target.shape[0]


for i in range(target.shape[0]):
    if target['Target'][i] == 1:
        Bin_Target['Target'][i] ='+'
    else :
        Bin_Target['Target'][i] ='-'

bestestimator_v2.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [2]:
Bin_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
Bin_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

In [14]:
Bin_Train.head(3)

,ID,month,country,1_diffClosing stocks(kmt),1_diffExports(kmt),1_diffImports(kmt),1_diffRefinery intake(kmt),1_diffWTI,1_diffSumClosing stocks(kmt),1_diffSumExports(kmt),...,12_diffClosing stocks(kmt),12_diffExports(kmt),12_diffImports(kmt),12_diffRefinery intake(kmt),12_diffWTI,12_diffSumClosing stocks(kmt),12_diffSumExports(kmt),12_diffSumImports(kmt),12_diffSumProduction(kmt),12_diffSumRefinery intake(kmt)
0,ID00001,5,52,0.0,237.0,0.0000,33.0000,-5.62,10426.2462,12135.1024,...,0.0,0.0,0.0000,14.0000,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
1,ID00002,12,69,28.0,-34.0,60.0000,7.0000,-5.95,195.2005,7500.1033,...,-43.0,-129.0,-67.0000,-16.0000,-5.62,3217.0304,-6563.6422,-3587.5152,-13053.6586,-13005.0503
2,ID00003,5,74,0.0,0.0,-29.1227,-85.5816,-5.62,10426.2462,12135.1024,...,0.0,0.0,-17.8667,-13.2214,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560

In [29]:
Bin_Target.head(10)

        ID  Target
0  ID00001       1
1  ID00002       0
2  ID00003       0
3  ID00004       0
4  ID00005       1
5  ID00006       1
6  ID00007       0
7  ID00008       0
8  ID00009       0
9  ID00010       0

### Fit method

In [1]:
Bin = BestEstimator(hard_grid=False)
Bin.fit(Bin_Train, Bin_Target, scoring = 'roc_auc', n_grid = 100)

NameError: name 'BestEstimator' is not defined

In [ ]:
Bin.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'roc_auc_score')

### pred_grid & pred methods

In [ ]:
Bin.pred(Bin_Train[0:10], ID='ID', refit = True)

In [ ]:
Bin.pred_grid(Bin_Train[0:10], ID='ID')

In [20]:
#Bin.pred_grid_proba(Bin_Train[0:10])

In [21]:
Bin.Bagg_fit(Bin_Train, Bin_Target, n_estimators = [10,20,30], type_esti = 'Classifier', n = 300,
                 cv = 3, value = 0, ID = 'ID', metric = 'roc_auc')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:  1.1min finished

 Best hyperparametres : {'n_estimators': 30}

 Giving this roc_auc score : 0.7817005494505496

### Regression

In [2]:
Reg_Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\input_training.csv", sep = ';')
Reg_Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target_Engie.csv", sep = ';')

In [23]:
Reg_Train.head(3)

,ID,MAC_CODE,Date_time,Pitch_angle,Pitch_angle_min,Pitch_angle_max,Pitch_angle_std,Hub_temperature,Hub_temperature_min,Hub_temperature_max,...,Rotor_speed,Rotor_speed_min,Rotor_speed_max,Rotor_speed_std,Rotor_bearing_temperature,Rotor_bearing_temperature_min,Rotor_bearing_temperature_max,Rotor_bearing_temperature_std,Absolute_wind_direction_c,Nacelle_angle_c
0,1,WT3,1.0,92.470001,92.470001,92.470001,0.0,7.0,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,294.19000,294.23999
1,2,WT3,2.0,92.470001,92.470001,92.470001,0.0,7.0,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,297.82999,294.23999
2,3,WT3,3.0,92.470001,92.470001,92.470001,0.0,7.0,7.0,7.0,...,0.0,0.0,0.0,0.0,2.4,2.4,2.4,0.0,322.20999,294.23999

In [24]:
Reg_Target.head(5)

   ID  TARGET
0   1  -0.703
1   2  -0.747
2   3  -0.791
3   4  -0.736
4   5  -1.055

### fit method

In [23]:
Reg = BestEstimator(type_esti = 'Regressor', hard_grid=False)

Reg.fit(Reg_Train, Reg_Target, n_grid= 1000, scoring = 'neg_mean_absolute_error')

Missing Values :

                                Total          %
Grid_voltage                   101322  16.411451
Grid_voltage_std               101322  16.411451
Grid_voltage_max               101322  16.411451
Grid_voltage_min               101322  16.411451
Gearbox_inlet_temperature        8064   1.306152
Generator_converter_speed        8064   1.306152
Generator_converter_speed_min    8064   1.306152
Generator_converter_speed_max    8064   1.306152
Generator_converter_speed_std    8064   1.306152
Gearbox_inlet_temperature_min    8064   1.306152
Gearbox_inlet_temperature_max    8064   1.306152
Gearbox_inlet_temperature_std    8064   1.306152
Absolute_wind_direction_c          72   0.011662
Nacelle_angle_c                    72   0.011662

NaN data filled by 0

Searching for the best regressor on 1000 data using neg_mean_absolute_error loss...


 Bagging: -29.9915 (+/- 3.8755)

 Gradient Boosting: -26.4837 (+/- 1.4921)

 XGBoost: -25.6346 (+/- 2.0193)

 Random Forest: -27.9597 (+/- 1.7701)

 Decision Tree: -40.2910 (+/- 12.9984)

 Extra Tree: -29.4587 (+/- 5.0095)

 KNN: -161.6374 (+/- 12.0613)

 SVM: -309.5394 (+/- 36.0402)

 Searching for the best hyperparametres of XGBoost on 1000 data among :

{'eta': [0.01, 0.1, 0.3], 'max_depth': [5, 10, 15], 'gamma': [0, 0.1, 0.01]}

Fitting 3 folds for each of 27 candidates, totalling 81 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   24.2s
[Parallel(n_jobs=-1)]: Done  81 out of  81 | elapsed:   42.3s finished

 In the end, the best estimator is : XGBoost Regressor

 Using these hyperparametres : {'eta': 0.01, 'gamma': 0.1, 'max_depth': 5}

 With this neg_mean_absolute_error score : -25.602254532622563

In [24]:
Reg.best_size(n=[100,200,300, 1000, 2000, 5000], metric = 'mean_absolute_error', type_esti = 'Regressor')

Fitting on 200 data...
200 datas -> mean_absolute_error = 39.60962117360351

Fitting on 300 data...
300 datas -> mean_absolute_error = 34.262711017157955

Fitting on 1000 data...
1000 datas -> mean_absolute_error = 24.242441333962816

Fitting on 2000 data...
2000 datas -> mean_absolute_error = 20.593891179937724

Fitting on 5000 data...
5000 datas -> mean_absolute_error = 18.030675542181598


 In the end, the best data size is 5000

 With this mean_absolute_error : 18.030675542181598
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, eta=0.01, gamma=0.1, learning_rate=0.1,
       max_delta_step=0, max_depth=5, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None, objective='reg:linear',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

###  pred_grid & pred_grid methods

In [28]:
Reg.pred(Reg_Train[0:10], ID='ID')

   ID    Target
0   1 -0.788595
1   2 -0.788595
2   3 -0.788595
3   4 -0.788595
4   5 -0.788595
5   6 -0.397428
6   7  0.036719
7   8  0.036719
8   9  0.036719
9  10  0.036719

In [ ]:
#Reg.pred_grid(Reg_Train[0:10], ID='ID')

### Bagg_fit method

In [ ]:
Reg.Bagg_fit(Reg_Train, Reg_Target, n_estimators = [10,20,30], type_esti = 'Regressor', n = 1000,
                 cv = 3, value = 0, ID = 'ID', metric = 'mean_absolute_error')

Fitting 3 folds for each of 3 candidates, totalling 9 fits

In [7]:
n = [1,2,3,4]

In [10]:
n[1:]

[2, 3, 4]