In [4]:
%run -i bestestimator.py

# Classification

## Data Rakuten

In [2]:
Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train.csv", sep = ',')
Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target.csv", sep = ';')

In [28]:
Train.head(10)

,ID,SHIPPING_MODE,SHIPPING_PRICE,WARRANTIES_FLG,WARRANTIES_PRICE,CARD_PAYMENT,COUPON_PAYMENT,RSP_PAYMENT,WALLET_PAYMENT,PRICECLUB_STATUS,...,BUYER_BIRTHDAY_DATE,BUYER_DEPARTMENT,BUYING_DATE,SELLER_SCORE_COUNT,SELLER_SCORE_AVERAGE,SELLER_COUNTRY,SELLER_DEPARTMENT,PRODUCT_TYPE,PRODUCT_FAMILY,ITEM_PRICE
0,0,NORMAL,NaN,False,NaN,1,0,1,0,UNSUBSCRIBED,...,1992.0,34,3/2017,10000<100000,46.0,"FRANCE, METROPOLITAN",61,CELLPHONE_ACCESSORY,ELECTRONICS,<10
1,1,NORMAL,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1952.0,77,8/2017,10000<100000,45.0,"FRANCE, METROPOLITAN",30,CELLPHONE_ACCESSORY,ELECTRONICS,<10
2,2,NORMAL,NaN,False,NaN,0,0,0,1,PLATINUM,...,1991.0,58,5/2017,10000<100000,43.0,CHINA,-1,TOYS,BABY,<10
3,3,RECOMMANDE,NaN,True,5<20,1,0,0,0,UNSUBSCRIBED,...,1955.0,31,5/2017,10000<100000,44.0,"FRANCE, METROPOLITAN",2,GARDEN_TOOLS,WHITE,50<100
4,4,RECOMMANDE,NaN,False,NaN,1,0,1,0,PLATINUM,...,1984.0,93,9/2017,1000<10000,44.0,CHINA,-1,MODEL,BABY,1000<5000
5,5,RECOMMANDE,NaN,False,NaN,1,0,0,0,SILVER,...,1987.0,31,9/2017,100000<1000000,46.0,"FRANCE, METROPOLITAN",72,TOYS,BABY,100<500
6,6,RECOMMANDE,NaN,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1986.0,66,1/2017,10000<100000,45.0,HONG KONG,-1,BRICOLAGE,WHITE,50<100
7,7,RECOMMANDE,5<10,False,NaN,1,0,0,0,UNSUBSCRIBED,...,NaN,78,4/2017,1000<10000,44.0,"FRANCE, METROPOLITAN",75,SHOES,CLOTHING,50<100
8,8,RECOMMANDE,10<20,False,NaN,0,0,1,1,PLATINUM,...,1960.0,1,1/2017,1000<10000,49.0,"FRANCE, METROPOLITAN",75,VIDEO,VIDEO,100<500
9,9,NORMAL,<1,False,NaN,1,0,0,0,UNSUBSCRIBED,...,1993.0,57,8/2017,10000<100000,48.0,"FRANCE, METROPOLITAN",65,PLAY CARDS,GAMES,<10

In [29]:
Target.head(10)

   ID    CLAIM_TYPE
0   0       DAMAGED
1   1             -
2   2  NOT_RECEIVED
3   3             -
4   4    WITHDRAWAL
5   5             -
6   6     UNDEFINED
7   7    WITHDRAWAL
8   8             -
9   9             -

### grid = False

In [23]:
clf = BestEstimator(Train, Target)

clf.best_estim(type_esti='classifier',  # Type of estimator : classifier or regressor
                   params=False,        # Allow to use a custom hyperparametres dict for GridSearCV
                   ID='ID',             # ID feature of the DataFrame used
                   target_ID=True,      # If Target feature have an ID
                   cv=3,                # Numbers of folds for the first estimators check
                   grid=False,          # if True, use a GridSearchCV with best estimator found
                   hard_grid=False,     # if True, test huge combinaison of hyperparametres
                   cv_grid=3,           # Number of folds for the GridSearchCV
                   n=1000,              # Number of observations used for the first check
                   n_grid=1000,         # Number of observations used for the GridSearchCV
                   value=0,             # Value for fill NaN
                   view_nan=False,      # if True check the NaN Data
                   scoring='AUC')       # Type of scorer

NaN data filled by 0

Searching for the best regressor on 10000 data using AUC loss...


 Bagging: 0.5433 (+/- 0.0048)

 Gradient Boosting: 0.5348 (+/- 0.0018)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.5267 (+/- 0.0034)

 Random Forest: 0.5420 (+/- 0.0092)

 Decision Tree: 0.5383 (+/- 0.0035)

 Extra Tree: 0.5413 (+/- 0.0044)

 KNN: 0.5185 (+/- 0.0061)

 SVM: 0.5060 (+/- 0.0010)

 Best classifier : Bagging

### Grid = True

In [5]:
clf = BestEstimator(Train, Target)

clf.best_estim(type_esti='classifier',  # Type of estimator : classifier or regressor
                   params=False,        # Allow to use a custom hyperparametres dict for GridSearCV
                   ID='ID',             # ID feature of the DataFrame used
                   target_ID=True,      # If Target feature have an ID
                   cv=3,                # Numbers of folds for the first estimators check
                   grid=True,           # if True, use a GridSearchCV with best estimator found
                   hard_grid=False,     # if True, test huge combinaison of hyperparametres
                   cv_grid=3,           # Number of folds for the GridSearchCV
                   n=1000,              # Number of observations used for the first check
                   n_grid=1000,         # Number of observations used for the GridSearchCV
                   value=0,             # Value for fill NaN
                   view_nan=False,      # if True check the NaN Data
                   scoring='AUC')       # Type of scorer

NaN data filled by 0

Searching for the best regressor on 1000 data using AUC loss...


 Bagging: 0.5301 (+/- 0.0033)

 Gradient Boosting: 0.5394 (+/- 0.0035)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.5363 (+/- 0.0175)

 Random Forest: 0.5428 (+/- 0.0103)

 Decision Tree: 0.5423 (+/- 0.0153)

 Extra Tree: 0.5358 (+/- 0.0047)

 KNN: 0.5176 (+/- 0.0046)

 SVM: 0.5029 (+/- 0.0040)

 Searching for the best hyperparametres of Random Forest on 1000 data among :

{'n_estimators': [10, 100, 300], 'max_depth': [5, 10, None], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   22.9s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   29.8s finished

 Finally, best estimator is : Random Forest classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': None, 'n_estimators': 100}

 With this AUC score : 0.544837869067289

### Hard_Grid = True

In [6]:
clf = BestEstimator(Train, Target)

clf.best_estim(type_esti='classifier',  # Type of estimator : classifier or regressor
                   params=False,        # Allow to use a custom hyperparametres dict for GridSearCV
                   ID='ID',             # ID feature of the DataFrame used
                   target_ID=True,      # If Target feature have an ID
                   cv=3,                # Numbers of folds for the first estimators check
                   grid=True,           # if True, use a GridSearchCV with best estimator found
                   hard_grid=True,      # if True, test huge combinaison of hyperparametres
                   cv_grid=3,           # Number of folds for the GridSearchCV
                   n=10000,             # Number of observations used for the first check
                   n_grid=1000,         # Number of observations used for the GridSearchCV
                   value=0,             # Value for fill NaN
                   view_nan=False,      # if True check the NaN Data
                   scoring='AUC')       # Type of scorer

NaN data filled by 0

Searching for the best regressor on 10000 data using AUC loss...


 Bagging: 0.5426 (+/- 0.0039)

 Gradient Boosting: 0.5350 (+/- 0.0018)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.5267 (+/- 0.0034)

 Random Forest: 0.5448 (+/- 0.0089)

 Decision Tree: 0.5405 (+/- 0.0042)

 Extra Tree: 0.5374 (+/- 0.0025)

 KNN: 0.5185 (+/- 0.0061)

 SVM: 0.5060 (+/- 0.0010)

 Searching for the best hyperparametres of Random Forest using hard_grid on 1000 data among :

{'n_estimators': [10, 100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 20, 25, None], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 72 candidates, totalling 216 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   38.7s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 216 out of 216 | elapsed:  3.1min finished

 Finally, best estimator is : Random Forest classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': 25, 'n_estimators': 300}

 With this AUC score : 0.5449086591257329

## Data Sogec

In [11]:
Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Train1.csv", sep = ';')
Target = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\Target1.csv", sep = ';')

In [12]:
Train.head(10)

,ID,month,country,1_diffClosing stocks(kmt),1_diffExports(kmt),1_diffImports(kmt),1_diffRefinery intake(kmt),1_diffWTI,1_diffSumClosing stocks(kmt),1_diffSumExports(kmt),...,12_diffClosing stocks(kmt),12_diffExports(kmt),12_diffImports(kmt),12_diffRefinery intake(kmt),12_diffWTI,12_diffSumClosing stocks(kmt),12_diffSumExports(kmt),12_diffSumImports(kmt),12_diffSumProduction(kmt),12_diffSumRefinery intake(kmt)
0,ID00001,5,52,0.0000,237.0000,0.0000,33.0000,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,0.0000,14.0000,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
1,ID00002,12,69,28.0000,-34.0000,60.0000,7.0000,-5.95,195.2005,7500.1033,...,-43.0000,-129.0000,-67.0000,-16.0000,-5.62,3217.0304,-6563.6422,-3587.5152,-13053.6586,-13005.0503
2,ID00003,5,74,0.0000,0.0000,-29.1227,-85.5816,-5.62,10426.2462,12135.1024,...,0.0000,0.0000,-17.8667,-13.2214,2.92,673.8569,-13007.1520,-5932.5482,-17130.8333,-13151.4560
3,ID00004,11,34,175.3701,91.5209,0.0000,339.4347,7.66,-2247.4834,-6806.1222,...,81.8304,-579.9462,0.0000,16.6891,-8.62,-2929.8903,1072.8473,504.0197,-4827.2299,3962.6288
4,ID00005,7,2,-550.0674,251.9568,0.0000,-49.5277,-12.07,-2652.6804,2165.7119,...,-1127.1255,-512.5506,0.0000,-2.0243,7.20,2513.6243,-1732.4430,-4827.1576,-7242.5506,-13079.2251
5,ID00006,12,18,-5.0000,0.0000,54.0000,0.0000,-6.41,4667.8610,5818.6224,...,-93.0000,0.0000,-159.0000,4.0000,-7.48,-321.0981,-2198.8697,-3970.4225,-8308.6097,-9271.9104
6,ID00007,2,74,0.0000,0.0000,-330.1769,14.1147,7.35,-2222.2596,8847.5740,...,0.0000,0.0000,-189.9231,-40.9148,-12.89,371.6212,-9245.4723,-11594.1932,-14411.1174,-10187.1927
7,ID00008,10,65,-11.0000,0.0000,-49.0000,-13.0000,-1.49,-795.9220,-6970.3787,...,8.0000,0.0000,213.0000,221.0000,4.08,-6293.7023,11736.2149,9298.5185,10007.1252,10394.4374
8,ID00009,5,39,0.0000,-769.0000,-479.0000,0.0000,5.49,-24272.1488,10527.6510,...,0.0000,0.0000,0.0000,0.0000,6.87,-674.0987,-4264.6642,-11110.4561,-26769.7294,-23634.7754
9,ID00010,11,3,206.1798,-159.1292,0.5618,-373.3146,-7.48,-321.0981,-2198.8697,...,155.8988,104.7753,-0.7023,-70.7865,-4.22,-4976.2593,2226.4814,1150.8817,-2947.5373,1641.0060

In [13]:
Target.head(10)

        ID  Target
0  ID00001       1
1  ID00002       0
2  ID00003       0
3  ID00004       0
4  ID00005       1
5  ID00006       1
6  ID00007       0
7  ID00008       0
8  ID00009       0
9  ID00010       0

## Grid = False

In [14]:
clf = BestEstimator(Train, Target)

clf.best_estim(type_esti='classifier',  # Type of estimator : classifier or regressor
                   params=False,        # Allow to use a custom hyperparametres dict for GridSearCV
                   ID='ID',             # ID feature of the DataFrame used
                   target_ID=True,      # If Target feature have an ID
                   cv=3,                # Numbers of folds for the first estimators check
                   grid=False,          # if True, use a GridSearchCV with best estimator found
                   hard_grid=False,     # if True, test huge combinaison of hyperparametres
                   cv_grid=3,           # Number of folds for the GridSearchCV
                   n=1000,              # Number of observations used for the first check
                   n_grid=1000,         # Number of observations used for the GridSearchCV
                   value=0,             # Value for fill NaN
                   view_nan=False,      # if True check the NaN Data
                   scoring='AUC')       # Type of scorer

NaN data filled by 0

Searching for the best regressor on 1000 data using AUC loss...


 Bagging: 0.6235 (+/- 0.0384)

 Gradient Boosting: 0.6401 (+/- 0.0035)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.6406 (+/- 0.0294)

 Random Forest: 0.6486 (+/- 0.0094)

 Decision Tree: 0.6216 (+/- 0.0248)

 Extra Tree: 0.6003 (+/- 0.0162)

 KNN: 0.5871 (+/- 0.0599)

 SVM: 0.5000 (+/- 0.0000)

 Best classifier : Random Forest

## Grid = True

In [15]:
clf = BestEstimator(Train, Target)

clf.best_estim(type_esti='classifier',  # Type of estimator : classifier or regressor
                   params=False,        # Allow to use a custom hyperparametres dict for GridSearCV
                   ID='ID',             # ID feature of the DataFrame used
                   target_ID=True,      # If Target feature have an ID
                   cv=3,                # Numbers of folds for the first estimators check
                   grid=True,          # if True, use a GridSearchCV with best estimator found
                   hard_grid=False,     # if True, test huge combinaison of hyperparametres
                   cv_grid=3,           # Number of folds for the GridSearchCV
                   n=1000,              # Number of observations used for the first check
                   n_grid=1000,         # Number of observations used for the GridSearchCV
                   value=0,             # Value for fill NaN
                   view_nan=False,      # if True check the NaN Data
                   scoring='AUC')       # Type of scorer

NaN data filled by 0

Searching for the best regressor on 1000 data using AUC loss...


 Bagging: 0.6090 (+/- 0.0341)

 Gradient Boosting: 0.6375 (+/- 0.0148)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.6406 (+/- 0.0294)

 Random Forest: 0.6498 (+/- 0.0250)

 Decision Tree: 0.6056 (+/- 0.0481)

 Extra Tree: 0.6058 (+/- 0.0418)

 KNN: 0.5871 (+/- 0.0599)

 SVM: 0.5000 (+/- 0.0000)

 Searching for the best hyperparametres of Random Forest on 1000 data among :

{'n_estimators': [10, 100, 300], 'max_depth': [5, 10, None], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   18.7s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   24.6s finished

 Finally, best estimator is : Random Forest classifier

 Using these hyperparametres : {'criterion': 'entropy', 'max_depth': 10, 'n_estimators': 300}

 With this AUC score : 0.656379865034526

## Hard_Grid = True

In [16]:
clf = BestEstimator(Train, Target)

clf.best_estim(type_esti='classifier',  # Type of estimator : classifier or regressor
                   params=False,        # Allow to use a custom hyperparametres dict for GridSearCV
                   ID='ID',             # ID feature of the DataFrame used
                   target_ID=True,      # If Target feature have an ID
                   cv=3,                # Numbers of folds for the first estimators check
                   grid=True,          # if True, use a GridSearchCV with best estimator found
                   hard_grid=True,     # if True, test huge combinaison of hyperparametres
                   cv_grid=3,           # Number of folds for the GridSearchCV
                   n=1000,              # Number of observations used for the first check
                   n_grid=1000,         # Number of observations used for the GridSearchCV
                   value=0,             # Value for fill NaN
                   view_nan=False,      # if True check the NaN Data
                   scoring='AUC')       # Type of scorer

NaN data filled by 0

Searching for the best regressor on 1000 data using AUC loss...


 Bagging: 0.6337 (+/- 0.0229)

 Gradient Boosting: 0.6359 (+/- 0.0135)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

 XGBoost: 0.6406 (+/- 0.0294)

 Random Forest: 0.6532 (+/- 0.0229)

 Decision Tree: 0.6289 (+/- 0.0615)

 Extra Tree: 0.5830 (+/- 0.0350)

 KNN: 0.5871 (+/- 0.0599)

 SVM: 0.5000 (+/- 0.0000)

 Searching for the best hyperparametres of Random Forest using hard_grid on 1000 data among :

{'n_estimators': [10, 100, 300, 600, 1000, 1200], 'max_depth': [5, 10, 15, 20, 25, None], 'criterion': ['gini', 'entropy']}

Fitting 3 folds for each of 72 candidates, totalling 216 fits

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   43.8s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 216 out of 216 | elapsed:  4.3min finished

 Finally, best estimator is : Random Forest classifier

 Using these hyperparametres : {'criterion': 'gini', 'max_depth': 15, 'n_estimators': 600}

 With this AUC score : 0.6556676746825053

## Data embauche

In [22]:
Train = pd.read_csv(r"C:\Users\jecombe\OneDrive - Capgemini\Notebooks\data.csv", sep = ',', index_col = 0)
Target = pd.DataFrame()

Target['embauche'] = Train['embauche']
Train.drop(['embauche'], axis = 1, inplace = True)

In [23]:
Train.head(10)

,index,date,cheveux,age,exp,salaire,sexe,diplome,specialite,note,dispo
0,0,2012-06-02,roux,25.0,9.0,26803.0,F,licence,geologie,97.08,non
1,1,2011-04-21,blond,35.0,13.0,38166.0,M,licence,forage,63.86,non
2,2,2012-09-07,blond,29.0,13.0,35207.0,M,licence,geologie,78.50,non
3,3,2011-07-01,brun,NaN,12.0,32442.0,M,licence,geologie,45.09,non
4,4,2012-08-07,roux,35.0,6.0,28533.0,F,licence,detective,81.91,non
5,5,2014-02-12,chatain,37.0,8.0,38558.0,M,master,geologie,63.46,non
6,6,2013-11-11,brun,33.0,12.0,39476.0,M,master,geologie,50.20,oui
7,7,2012-03-10,roux,31.0,10.0,42392.0,M,licence,forage,62.20,oui
8,8,2014-10-17,chatain,43.0,10.0,28625.0,M,doctorat,geologie,65.17,non
9,9,2011-06-04,chatain,28.0,11.0,32454.0,M,master,forage,66.93,non

In [24]:
Target.head(10)

   embauche
0         0
1         0
2         0
3         0
4         0
5         1
6         0
7         0
8         1
9         1

## Grid = False

## Grid = True

## Hard_Grid = True